.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  
    .mid-box {
      height: calc(100vh - 80px);
      position: relative;
      display: flex;
  
      app-blockly-editor{
        flex-grow: 1;
      }
    }
}