.tool-container {
  background: #2b2d30;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 30px;

  .tool-btns {
    display: flex;
    .btn {
      width: 30px;
      height: 30px;

      &:hover {
        background: #3a3c3f;
      }
    }
  }
}

.content {
  height: calc(100% - 30px);
  background: #323437;
}

nz-tabset {
  ::ng-deep {
    nz-tabs-nav {
      height: 30px;
      margin: 0 !important;
    }

    .ant-tabs-tab {
      font-size: 12px !important;
      margin: 0 !important;

      button {
        padding: 0 10px;
        color: #a5a5a5;
      }
    }

    .ant-tabs-ink-bar {
      height: 1px !important;
    }

    .ant-tabs-tab-active {
      button {
        color: #fff !important;
      }
    }
  }
}
