:host {
    position: relative;
}

blockly-main {
    ::ng-deep {
        .blocklyBox {
            width: 100%;
            height: 100%;
        }
    }
}

.project-mangager-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 179px;
    cursor: pointer;
    background-color: #323232;
    z-index: 99;

    .mangager {
        width: 100%;
        height: 100%;
        &:hover {
            color: #2a74ff;
        }
    }

    .reload {
        position: absolute;
        right: 0;
        height: 40px;
        width: 40px;
    }

    .edit{
        position: absolute;
        left: 0;
        height: 40px;
        width: 40px;
    }

}

// .test {
//     position: fixed;
//     top: 300px;
//     right: 100px;
//     display: flex;

//     >div {
//         cursor: pointer;
//         width: 50px;
//         height: 30px;
//         background: red;
//         color: white;
//         margin-right: 2px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }