.guide-box {
  min-height: 100%;
  min-width: 1197px;
  background: #2b2d30;
  display: flex;

  .left-box {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 100px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .right-box {
    flex-grow: 0;
    flex-shrink: 0;
    width: 680px;
    height: 560px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .stitle {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    line-height: 30px;

    .version {
      color: #888888;
      font-size: 12px;
      margin: 0 0 2px 7px;
      line-height: 12px;
    }
  }

  .title {
    color: #d9d9d9;
    font-size: 23px;
    margin: 15px 0 5px 0;
  }

  .menu-box {
    display: flex;
    flex-direction: column;

    .btn {
      padding: 3px 0;
      display: flex;
      align-items: center;
      align-self: flex-start;
      max-width: 100%;
    }

    .icon {
      width: 25px;
      // height: 20px;
    }
  }

  .project {
    display: flex;
    white-space: nowrap;
    align-items: flex-end;
    padding: 3px 0;
    font-size: 14px;
    height: 28px;
    line-height: 14px;

    .path {
      color: #999;
      margin-left: 10px;
      font-size: 12px;
      line-height: 13px;
      // width: 300px;
    }
  }
}

.pp {
  width: 600px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  background: transparent !important;
  position: absolute;
  right: 0;
}

.item {
  width: 400px;
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background: #262626;
  border-radius: 5px;
  padding: 5px 10px;
  border-left: 5px solid #4d4d4d;
  cursor: pointer;

  >div:last-child {
    color: #999;
    font-size: 12px;
  }

  &:hover {
    border-left: 5px solid #2658ce;
  }
}