<div class="guide-box ccenter">
  <div class="left-box">
    <div class="stitle">
      <img class="logo" [src]="logoSrc" alt="" draggable="false">
      <div class="version">ver {{version}}</div>
    </div>
    <div class="title">{{'GUIDE.START' | translate}}</div>
    @if (showMenu) {
    <div class="menu-box">
      @for (item of guideMenu; track $index) {
      @if (item.sep) {
      <div class="sep"></div>
      } @else {
      <div class="btn link" (click)="onMenuClick(item)">
        <div class="icon ccenter">
          <i class="{{ item.icon }}"></i>
        </div>
        <div class="text">{{ item.name | translate}}</div>
      </div>
      }
      }
    </div>
    }
    <!-- 近期打开的项目 -->
    <div style="min-height: 150px;">
      @if(recentlyProjects.length > 0) {
      <div class="title">{{'GUIDE.RECENTLY' | translate}}</div>
      <div class="menu-box">
        @for(project of recentlyProjects; track $index) {
        <div class="project btn link" (click)="openProjectByPath(project)">
          <div class="project-info">
            <div class="name">{{project.nickname || project.name}}</div>
            <div class="delete-btn" (click)="removeProject($event, project)">
              <i class="fa-regular fa-xmark"></i>
            </div>
          </div>
          <div class="path ellipsis">{{project.path}}</div>
        </div>
        }
        <!-- <div class="project btn link" (click)="showMore=true">
        更多...
      </div> -->
      </div>
      }
    </div>
  </div>
  <div class="right-box ccenter">
    <div class="item" style="height: 50px;" (click)="openUrl('https://sensecraft.seeed.cc/ai/application')">
      <div><img style="height: 16px;margin-top: -5px;" [src]="sensecraftImg" alt=""> {{'GUIDE.AI_APP_CENTER' | translate}}</div>
      <div>{{'GUIDE.AI_APP_CENTER_DESC' | translate}}</div>
      <div class="arrow"><i class=" fa-regular fa-angle-right"></i></div>
    </div>
    <div class="item" style="height: 120px;flex-grow: 1;padding: 0;overflow: hidden;">
      <div style="padding: 5px 10px;">{{'GUIDE.NEWS' | translate}}</div>
      <iframe src="http://guide-page.aily.pro" frameborder="0" style="height: 100%;background: transparent;"></iframe>
    </div>
    <!-- <div class="item" (click)="gotoPlayground()">
      <div>{{'GUIDE.TUTORIAL' | translate}}</div>
      <div>{{'GUIDE.TUTORIAL_DESC' | translate}}</div>
    </div> -->
    <!-- <div class="item" (click)="openUrl('https://github.com/ailyProject/aily-blockly')">
      <div>{{'GUIDE.GITHUB' | translate}}</div>
      <div>{{'GUIDE.GITHUB_DESC' | translate}}</div>
    </div> -->
    <!-- <div class="item" (click)="openFeedback()">
      <div>{{'GUIDE.FEEDBACK' | translate}}</div>
      <div>{{'GUIDE.FEEDBACK_DESC' | translate}}</div>
    </div> -->
    <div class="item" style="height: 90px;">
      <div>{{'GUIDE.USER_GROUP' | translate}}</div>
      <div>{{'GUIDE.USER_GROUP_DESC' | translate}}</div>
      <div class="group-btn">
        <div (click)="showImg('https://dl.yiyu.pro/blockly/wechat.jpg')">
          <i class="fa-brands fa-weixin"></i>
        </div>
        <div (click)="showImg('https://dl.yiyu.pro/blockly/qq.jpg')">
          <i class="fa-brands fa-qq"></i>
        </div>
        <div (click)="openUrl('https://github.com/orgs/ailyProject/discussions')">
          <i class="fa-brands fa-github"></i>
        </div>
        <div (click)="openUrl('https://discord.gg/ddMbGVmpQ8')">
          <i class="fa-brands fa-discord"></i>
        </div>
      </div>
    </div>
    <div class="item" style="height: 165px;">
      <div>{{'GUIDE.SPONSORS' | translate}}</div>
      <div>{{'GUIDE.SPONSORS_DESC' | translate}}</div>
      @if (sponsors.length > 0) {
      <div id="sponsor-splide" class="splide sponsor-carousel">
        <div class="splide__track">
          <ul class="splide__list">
            @for (sponsor of sponsors; track $index) {
            <li class="splide__slide">
              <div class="sponsor-item" (click)="sponsor.url && openUrl(sponsor.url)">
                @if (sponsor.img) {
                <div class="ccenter img-box">
                  <img [src]="getSponsorImg(sponsor)" [alt]="sponsor.name" [title]="sponsor.name">
                </div>
                <div class="sponsor-name">{{ sponsor.name }}</div>
                }@else {
                <div class="ccenter img-box">
                  <div class="person-name">{{ sponsor.name }}</div>
                </div>
                <div class="sponsor-name">{{ sponsor.company }}</div>
                }
              </div>
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
  </div>
</div>

@if (showImgUrl) {
<div class="img-overlay ccenter" (click)="hideImg()">
  @if (imgLoading) {
  <div class="img-loading">
    <div class="spinner"></div>
  </div>
  }
  <img [src]="showImgUrl" alt="预览图片" 
       [class.hidden]="imgLoading" 
       (load)="onImgLoad()" 
       (error)="onImgError()">
</div>
}