<div class="guide-box ccenter">
  <div class="left-box">
    <div class="title stitle">
      aily blockly IDE
      <div class="version">ver 0.0.1</div>
    </div>
    <div class="title">开始</div>
    <div class="btn">新建项目</div>
    <div class="btn">打开项目</div>
    <div class="btn">示例程序</div>
    <div class="title">最近</div>
    <div class="project btn">
      Project1
      <div class="path">D:/aily-test/test1</div>
    </div>
    <div class="project btn">
      Project2
      <div class="path">D:/aily-test/test1</div>
    </div>
    <div class="project btn">
      Project3
      <div class="path">D:/aily-test/test1</div>
    </div>
    <div class="project btn">
      Project4
      <div class="path">D:/aily-test/test1</div>
    </div>
    <div class="project btn">
      Project5
      <div class="path">D:/aily-test/test1</div>
    </div>
  </div>
  <div class="right-box">
    <div class="pp"></div>
  </div>
</div>
