.guide-box {
  height: 100%;
  width: 100%;
  background: #2b2d30;
  display: flex;

  .left-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }

  .right-box {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .title {
    color: #d9d9d9;
    font-size: 23px;
    margin: 15px 0 10px 0;
  }

  .stitle {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    line-height: 30px;

    .version {
      color: #888888;
      font-size: 12px;
      margin-left: 7px;
      line-height: 12px;
    }
  }

  .btn {
    padding: 3px 0;
  }

  .project {
    display: flex;
    padding: 3px 0;
    .path {
      color: #aaa;
      margin-left: 10px;
    }
  }
}

.pp {
  max-width: 600px;
  height: 300px;
  background: rgba(255, 255, 255, 0.2);
}
