<section class="component-library">
  <header class="component-library__toolbar">
    <nz-input-group [nzSuffix]="searchSuffix" nzSize="small">
      <input
        type="text"
        nz-input
        [(ngModel)]="keyword"
        [placeholder]="'CODER_COMPONENT_LIBRARY.SEARCH' | translate" />
    </nz-input-group>
    <ng-template #searchSuffix>
      @if (keyword) {
      <i class="fa-light fa-xmark" (click)="keyword = ''"></i>
      } @else {
      <i class="fa-light fa-search"></i>
      }
    </ng-template>
    <button nz-button nzSize="small" (click)="refresh()" [disabled]="loading">
      <i class="fa-light" [class.fa-rotate]="!loading" [class.fa-loader]="loading"></i>
      {{ 'CODER_COMPONENT_LIBRARY.REFRESH' | translate }}
    </button>
  </header>

  <p class="component-library__hint">
    {{ 'CODER_COMPONENT_LIBRARY.HINT' | translate }}
  </p>

  <div class="component-library__list">
    @for (library of filteredLibraries; track library.id) {
    <article class="component-library__card" [class.is-installed]="library.installed">
      <div class="component-library__title-row">
        <div class="component-library__title">
          <i class="fa-light fa-books"></i>
          <span [title]="library.name || library.folderName">{{ library.name || library.folderName }}</span>
        </div>
        <span class="component-library__version">{{ library.version || 'Arduino' }}</span>
      </div>
      <div class="component-library__meta">
        {{ library.author || library.maintainer || library.sdkLabel }}
      </div>
      <p class="component-library__description">
        {{ library.sentence || library.paragraph || library.folderName }}
      </p>
      <div class="component-library__chips">
        @if (library.category) {
        <span>{{ library.category }}</span>
        }
        @for (architecture of library.architectures; track architecture) {
        <span>{{ architecture }}</span>
        }
      </div>
      <footer class="component-library__footer">
        <code>components/{{ library.folderName }}</code>
        <div class="component-library__actions">
          @if (library.url) {
          <button nz-button nzSize="small" nzType="text" (click)="openDocumentation(library)">
            <i class="fa-light fa-book-open"></i>
          </button>
          }
          @if (library.installed) {
          <button nz-button nzSize="small" disabled>
            {{ 'CODER_COMPONENT_LIBRARY.IN_PROJECT' | translate }}
          </button>
          } @else {
          <button
            nz-button
            nzType="primary"
            nzSize="small"
            [disabled]="library.installing"
            (click)="addToProject(library)">
            @if (library.installing) {
            <i class="fa-light fa-loader"></i>
            }
            {{ 'CODER_COMPONENT_LIBRARY.ADD' | translate }}
          </button>
          }
        </div>
      </footer>
    </article>
    } @empty {
    <div class="component-library__empty">
      <i class="fa-light fa-books"></i>
      <span>
        {{ (loading ? 'CODER_COMPONENT_LIBRARY.LOADING' : 'CODER_COMPONENT_LIBRARY.EMPTY') | translate }}
      </span>
    </div>
    }
  </div>
</section>
