@if (currentUrl == "/aily-chat") {
<app-sub-window [title]="windowInfo" [winBtns]="['go-main', 'minimize', 'maximize', 'close']">
  <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-sub-window>
} @else {
<app-tool-container [title]="windowInfo" (closeEvent)="close()">
  <ng-container header-btns>
    <div class="btn ccenter" (click)="newChat()">
      <i class="fa-light fa-message-plus"></i>
    </div>
    <!-- <div class="btn ccenter" (click)="openHistoryChat($event)">
      <i class="fa-light fa-clock-rotate-left"></i>
    </div> -->
  </ng-container>
  <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-tool-container>
}
<ng-template #windowBoxTemplate>
  <div class="window-box">
    <!-- 对话内容 -->
    <div class="dialog-list sscroll" #chatContainer>
      @if(list.length > 0){
      <!-- <ngx-simplebar #simplebarRef [options]="options"> -->
      <!-- <div class="dialogs"> -->
      @for (item of list; track item) {
      <aily-dialog [role]="item.role" [content]="item.content"></aily-dialog>
      }
      <!-- </div> -->
      <!-- </ngx-simplebar> -->
      }@else{
      <div class="guide-box ccenter">
        <i class="fa-light fa-star-christmas"></i>
        <div class="title">aily assistant service</div>
        <div class="text">AI的回复仅能作为参考，不一定正确，也不代表本软件开发者的意见，使用者需自行辨别</div>
        <div></div>
      </div>
      }
    </div>
    <!-- 发送部分 -->
    <div class="sender" nz-resizable [style.height.px]="bottomHeight" [nzMaxHeight]="600" [nzMinHeight]="180"
      (nzResize)="onContentResize($event)">
      <nz-resize-handle nzDirection="top">
        <div class="line"></div>
      </nz-resize-handle>

      <div class="s-box">
        <!-- 快捷发送栏 -->
        <!-- <div class="settings" style="padding: 0;">
          <div class="btns">
            <div class="btn ccenter" nz-tooltip nzTooltipTitle="添加文件">
              <i class="fa-light fa-file-circle-plus"></i>
            </div>
          </div>
        </div> -->
        <div class="input-box">
          @if( selectContent.length > 0 ) {
          <div class="resource-list">
            @for( item of selectContent; track $index) {
            <div class="resource-item">
              @if(item.type == 'file') {
              <i class="fa-light fa-file"></i>
              }@else if(item.type == 'folder') {
              <i class="fa-light fa-folder"></i>
              }@else if(item.type == 'url') {
              <i class="fa-light fa-link"></i>
              }
              <span class="resource-name">{{ item.name }}</span>
              <div class="btn ccenter" (click)="removeResource($index)">
                <i class="fa-light fa-xmark"></i>
              </div>
            </div>
            }
          </div>
          }
          <textarea #chatTextarea class="sscroll" spellcheck="false" [(ngModel)]="inputValue"
            (keydown)="onKeyDown($event)">
          </textarea>
          <div class="btns">
            <div class="btn ccenter enter" nz-tooltip nzTooltipTitle="添加上下文" (click)="openAddList()">
              <i class="fa-light fa-paperclip"></i>
            </div>
            @if(showAddList){
            <div class="list-box animate__animated animate__fadeIn animate__faster">
              <div class="btn2 ccenter enter" (click)="openAddList()" style="margin-top: -1px;">
                <i class="fa-light fa-angle-left"></i>
              </div>
            </div>
            <div class="btn2 ccenter enter animate__animated animate__fadeInLeft animate__faster" nz-tooltip
              nzTooltipTitle="添加文件" (click)="addFile()">
              <i class="fa-light fa-file-plus"></i>
            </div>
            <div class="btn2 ccenter enter animate__animated animate__fadeInLeft animate__faster" nz-tooltip
              nzTooltipTitle="添加文件夹" (click)="addFolder()">
              <i class="fa-light fa-folder-plus"></i>
            </div>
            <div class="btn2 ccenter enter animate__animated animate__fadeInLeft animate__faster" nz-tooltip
              nzTooltipTitle="添加网站" (click)="addUrl()">
              <i class="fa-light fa-globe-pointer"></i>
            </div>
            }
            <!-- <div class="btn ccenter enter right3" nz-tooltip nzTooltipTitle="语音输入">
            <i class="fa-light fa-microphone"></i>
          </div> -->
            <div class="btn right ccenter" [ngClass]="{'lloading':isWaiting}" nz-tooltip
              [nzTooltipTitle]="isWaiting?'停止':'发送'" (click)="sendButtonClick()">
              @if(isWaiting){
              <div class="stop-box ccenter">
                <i class="fa-light fa-stop"></i>
              </div>
              <div class="spinner-box ccenter">
                <i class="fa-light fa-spinner-third"></i>
              </div>
              }@else {
              <i class="fa-light fa-paper-plane"></i>
              }
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

@if (showHistoryList) {
<app-menu [menuList]="HistoryList" [position]="historyListPosition" [width]="300" (closeEvent)="closeMenu()"
  (itemClickEvent)="menuClick($event)"></app-menu>
}