@use "../serial-monitor/serial-monitor.component.scss";

.window-box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialog-list {
  padding-left: 10px;
  height: calc(100% - 180px);
  overflow-y: auto;

  .dialogs {
    padding: 0 10px 10px 0;
  }
}

.sender {
  position: relative;
  flex-shrink: 0;

  .settings {
    height: 40px;
    position: relative;
  }

  .input-box {
    margin-top: 10px;
    height: calc(100% - 48px) !important;

    textarea {
      font-size: 13px;
    }
  }
}

nz-resize-handle {
  .line {
    margin-top: 5px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
  }
}

.historyList {
  background: #555;
  position: absolute;
  top: 40px;
  right: 0;
}

.guide-box {
  height: 100%;
  flex-direction: column;

  i {
    font-size: 60px;
    margin-bottom: 6px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    color: #999;
    text-align: center;
  }
}