.lib-manager-box {
    position: absolute;
    background: #1f1f1f;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    .btn {
        height: 40px;
        width: 40px;
        font-size: 19px;
    }

    .header {
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #333;
        position: sticky;
        top: 0;
        z-index: 99;
        background: #222;

        nz-input-group {
            width: 200px;
            margin: 0 15px;
            // background: #363636;
        }
    }

    .lib-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        padding: 15px;

        .lib-item {
            width: 250px;
            height: 150px;
            background: #2b2b2b;
            border-radius: 5px;
            padding: 10px;
            position: relative;
            display: flex;
            flex-direction: column;

            .name {
                display: flex;
                align-items: flex-end;
                height: 20px;

                span {
                    position: absolute;
                    right: 10px;
                    font-size: 12px;
                    color: #aaa;
                }
            }

            .desc {
                color: #aaa;
                flex-grow: 1;
                font-size: 12px;
                white-space: normal;
                margin-top: 5px;
            }

            .footer {
                // position: absolute;
                // bottom: 10px;
                height: 24px;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .version {
                    nz-select {
                        width: 80px;
                    }
                }

                .btns {
                    display: flex;
                }
            }

        }
    }


}

.tag-list {
    nz-tag {
        cursor: pointer;
    }
}