.chart-box {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;

    ::ng-deep {
        #tv-attr-logo {
            visibility: hidden;
        }
    }
}