$header-height: 40px;
$header-inner-height: 38px;

.header-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: $header-height;
  width: 100%;
  background: var(--aily-bg-primary);
  border-bottom: 2px solid var(--aily-border-primary);

  &.darwin {
    padding-left: 80px;

    &.full-screen {
      padding-left: 0;
    }

    .win-btns {
      display: none;
    }
  }

  .menu {
    width: $header-inner-height;
    height: $header-inner-height;

    :hover {
      background: var(--aily-bg-tertiary);
    }
  }

  .board {
    padding-left: 10px;
    height: $header-inner-height;
    color: var(--aily-text-hint);
    cursor: pointer;
    opacity: 0.7;
    padding-top: 2px;

    * {
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }

    .down {
      padding-top: 2px;
      margin-left: 5px;
      font-size: 18px;
    }
  }

  .null-box {
    flex-grow: 1;
    height: 100%;
    position: relative;

    &.drag {
      -webkit-app-region: drag;
    }
  }

  .project-box {
    position: absolute;
    width: 20vw;
    left: 40vw;
    white-space: nowrap;
  }

  .toolbox {
    position: relative;
    display: flex;
    height: 100%;
    background: var(--aily-bg-primary);

    .zone {
      margin-left: 8px;
      padding: 5px;
      height: 100%;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .btn {
    width: $header-inner-height;
    height: $header-inner-height;
    flex-direction: column;
    border-radius: 8px;
    color: var(--aily-text-muted);
    opacity: 0.7;
    font-size: 19px;
    margin-right: 8px;
    padding-top: 2px;
    transition: opacity 0.3s;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    .icon {
      font-size: 18px;
    }

    &:hover {
      opacity: 1;
    }

    &.selected {
      color: var(--aily-text-primary);
      opacity: 1;
    }
  }
}

.more {
  position: absolute;
  top: 3px;
  right: -3px;
  font-size: 10px;
  color: #fff;
  background: red;
  border-radius: 10px;
  height: 12px;
  padding: 0 5px;
  padding-top: 1px;
}

.win-btns {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 15px;

  .btn {
    font-size: 16px;
    width: $header-inner-height;
    height: $header-inner-height;
    margin-right: 0;

    &:hover {
      background: var(--aily-bg-tertiary);
    }
  }

  .minimize {
    font-size: 18px;
  }

  .close {
    font-size: 19px;

    &:hover {
      color: var(--aily-color-error);
    }
  }
}