<div class="header-box" [class.darwin]="isMac" [class.full-screen]="isMacFullScreen">
  <div class="menu ccenter" (click)="openMenu()">
    <div class="btn ccenter" nz-tooltip nzTooltipTitle="{{ 'MENU.MENU' | translate }}">
      <i class="fa-regular fa-bars"></i>
    </div>
  </div>

  @if(isLoaded()){
  <div class="board ccenter" (click)="openPortList($event)">
    {{currentBoard}}
    @if(currentPort){
    ({{currentPort}})
    }@else{
    (-)
    }
    <div class="down ccenter"><i class="fa-regular fa-angle-down"></i></div>
  </div>
  }
  <div class="null-box drag" (dblclick)="maximize()"></div>
  <div class="project-box ccenter">{{ projectData?.nickname || projectData?.name}}</div>
  <div class="toolbox">
    <div class="zone ccenter">
      @for (btn of headerBtns; track $index) {
      @if(showInRouter(btn)){
      <app-act-btn [icon]="btn.icon" [color]="btn.color" [(state)]="btn.state" nz-tooltip
        nzTooltipTitle="{{ btn.name | translate}}({{btn.text}})" (click)="onClick(btn,$event)" [attr.data-action]="btn.action">
      </app-act-btn>
      }
      }
    </div>
    <!-- 动态 App 列表 -->
    <div class="zone ccenter">
      @for (app of headerApps; track app.id) {
      @if(!app.dev||isDevMode) {
      @if(showInRouter(app)){
      <div class="btn ccenter" nz-tooltip nzTooltipTitle="{{ app.name | translate}}" (click)="onClick(app,$event)"
        [ngStyle]="{ color: app.color ? app.color : '' }" [ngClass]="{ selected: isOpenTool(app) }">
        <i class="{{ app.icon }}"></i>
        @if (app.more) {
        <div class="more ccenter">{{ app.more }}</div>
        }
      </div>
      }
      }
      }
    </div>
    <!-- <div class="zone ccenter">
      <div class="btn ccenter" nz-tooltip nzTooltipTitle="{{ 'MENU.APP_STORE' | translate }}"
        (click)="onClick(appStoreBtn,$event)" [ngClass]="{ selected: isOpenTool(appStoreBtn) }">
        <i class="fa-light fa-grid-2-plus"></i>
      </div>
    </div> -->
  </div>
  <div class="win-btns">
    <div class="btn ccenter minimize" (click)="minimize()">
      <i class="fa-regular fa-minus"></i>
    </div>
    <div class="btn ccenter maximize" (click)="maximize()">
      @if (isWindowFullScreen) {
      <i class="fa-regular fa-window-restore"></i>
      } @else {
      <i class="fa-regular fa-window-maximize"></i>
      }
    </div>
    <div class="btn ccenter close" (click)="close()">
      <i class="fa-regular fa-xmark"></i>
    </div>
  </div>
</div>
<!-- menu -->
@if (showMenu) {
<app-menu [menuList]="headerMenu" [width]="250" (closeEvent)="closeMenu()"
  (itemClickEvent)="onMenuClick($event)"></app-menu>
}
<!-- device port list -->
@if (showPortList) {
<app-menu class="ports" [position]="portListPosition" [width]="260" [menuList]="configList"
  (closeEvent)="closePortList()" [keywords]="boardKeywords" (itemClickEvent)="selectPort($event)"
  (subItemClickEvent)="selectSubItem($event)"></app-menu>
}
