.footer-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  background: #2b2d30;
  border-top: 2px solid #222427;
  // padding-left: 12px;
}

.btn {
  width: 35px;
  height: 35px;

  &:hover {
    background: #3b3d40;
  }
}

.state {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;

  .loading {
    width: 35px;
    height: 35px;
    .fa-loader {
      animation: rotate45 1s steps(8, end) infinite;
    }

    @keyframes rotate45 {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
