$footer-height: 30px;
$footer-inner-height: 28px;

.footer-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $footer-height;
  background: #2b2d30;
  border-top: 2px solid #222427;
}

.btn {
  width: $footer-inner-height;
  height:$footer-inner-height;

  &:hover {
    background: #3b3d40;
  }
}

.state {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;

  .loading {
    width: $footer-inner-height;
    height: $footer-inner-height;
    .fa-loader {
      animation: rotate45 1s steps(8, end) infinite;
    }

    @keyframes rotate45 {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
