<div #layoutElement class="blockly-layout" [style.grid-template-columns]="toolboxWidth + 'px minmax(0, 1fr)'">
     <div
          #toolboxPane
          class="toolbox-pane"
          nz-resizable
          [nzMinWidth]="toolboxMinWidth"
          [nzMaxWidth]="toolboxMaxWidth"
          (nzResizeStart)="onToolboxResizeStart()"
          (nzResize)="onToolboxResize($event)"
          (nzResizeEnd)="onToolboxResizeEnd($event)">
          <nz-resize-handle nzDirection="right" nzCursorType="grid">
               <div class="toolbox-pane__resize-handle"></div>
          </nz-resize-handle>
          <app-blockly-toolbox-pane
               (libraryManagerRequested)="libraryManagerRequested.emit()"></app-blockly-toolbox-pane>
     </div>

     <div class="workspace-pane">
          <app-blockly-workspace-pages
               [pages]="pages"
               [closedPages]="closedPages"
               [activePageId]="activePageId"
               [aiWriting]="aiWriting"
               [showSpinOverlay]="showSpinOverlay"
               [isFadingOut]="isFadingOut"
               (pageSelected)="onPageSelected($event)"
               (pageAdded)="onPageAdded()"
               (pageClosed)="onPageClosed($event)"
               (pageReopened)="onPageReopened($event)"></app-blockly-workspace-pages>
     </div>
</div>
