<div class="aily-state-viewer">
    <div class="state-content ccenter">
        <div class="state-icon">
            @switch(stateInfo.state){
            @case('doing'){
            <div class="icon lloading ccenter">
                <i class="fa-duotone fa-solid fa-loader"></i>
            </div>
            }
            @case('error'){
            <div class="icon ccenter error">
                <i class="fa-light fa-circle-xmark"></i>
            </div>
            }
            @case('warn'){
            <div class="icon ccenter warn">
                <i class="fa-light fa-triangle-exclamation"></i>
            </div>
            }
            @case('done'){
            <div class="icon ccenter done">
                <i class="fa-light fa-circle-check"></i>
            </div>
            }
            }
        </div>
        <div class="state-text">
            {{ getDisplayText() }}
        </div>
    </div>
</div>