.project-mangager-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 180px;
    cursor: pointer;
    background-color: #f8f9fa;

    &:hover {
        background-color: #e9ecef;
    }
}