.project-mangager-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 179px;
    cursor: pointer;
    background-color: #323232;
    z-index: 99;

    &:hover {
        color: #2a74ff;
    }
}