<div class="header-box">
  <div class="logo-box ccenter">aily.</div>
  <div class="menu ccenter">
    <div class="btn ccenter">
      <div class="icon"><i class="fa-regular fa-bars"></i></div>
    </div>
  </div>
  <div class="toolbox">
    @for (zone of headerMenu; track $index) {
      <div class="zone ccenter">
        @for (btn of zone; track $index) {
          <div
            class="btn ccenter"
            nz-tooltip
            nzTooltipTitle="{{ btn.name }}"
            (click)="onClick(btn)"
          >
            <div class="icon"><i class="{{ btn.icon }}"></i></div>
            <!-- <div class="text">{{btn.name}}</div> -->
          </div>
        }
      </div>
    }
  </div>
  <!-- <div class="zone ccenter">
        <div class="btn ccenter">
            <div class="icon"><i class="fa-light fa-window-restore"></i></div>
            <div class="text">窗口</div>
        </div>
    </div> -->
</div>
