.header-box {
    margin: 8px;
    display: flex;
    height: 70px;

    .zone {
        background: #FFF;
        border-radius: 12px;
        margin-right: 12px;
        padding: 5px;

        &:last-child {
            margin-right: 0;
            margin-left: auto;
        }
    }

    .btn {
        width: 60px;
        height: 60px;
        flex-direction: column;
        border-radius: 8px;
        cursor: pointer;
        color: #818992;
        font-size: 12px;

        .icon {
            font-size: 20px;
            margin-bottom: 3px;
        }

        &:hover {
            color: #2A74FF;
            background-color: #F5F6F7;
        }
    }
}