<div class="header-box">
  <!-- <div class="logo-box ccenter">aily.</div> -->
  <div class="menu ccenter" (click)="openMenu()">
    <div class="btn ccenter" nz-tooltip nzTooltipTitle="菜单">
      <i class="fa-regular fa-bars"></i>
    </div>
  </div>
  <div class="board ccenter" nz-tooltip nzTooltipTitle="开发板选择">
    Arduino UNO R3 (COM3)
    <div class="down ccenter"><i class="fa-regular fa-angle-down"></i></div>
  </div>
  <div class="project-box ccenter">{{projectData.name}}</div>
  <div class="toolbox">
    @for (zone of headerBtns; track $index) {
      <div class="zone ccenter">
        @for (btn of zone; track $index) {
          <div
            class="btn ccenter"
            nz-tooltip
            nzTooltipTitle="{{ btn.name }}"
            (click)="onClick(btn)"
            [ngStyle]="{ color: btn.color ? btn.color : '' }"
          >
            <i class="{{ btn.icon }}"></i>
            @if (btn.more) {
              <div class="more ccenter">AI</div>
            }
          </div>
        }
      </div>
    }
  </div>
  <div class="win-btns">
    <div class="btn ccenter minimize" (click)="minimize()">
      <i class="fa-regular fa-minus"></i>
    </div>
    <div class="btn ccenter maximize" (click)="maximize()">
      <i class="fa-regular fa-square"></i>
    </div>
    <div class="btn ccenter close" (click)="close()">
      <i class="fa-regular fa-xmark"></i>
    </div>
  </div>
</div>
<!-- menu -->
@if (showMenu) {
  <div class="menu-box" #menuBox>
    @for (item of headerMenu; track $index) {
      @if (item.sep) {
        <div class="sep"></div>
      } @else {
        <div class="menu-item ccenter" (click)="onMenuClick(item)">
          <div class="icon ccenter"><i class="{{ item.icon }}"></i></div>
          <div class="text">{{ item.name }}</div>
        </div>
      }
    }
  </div>
}
