.float-zone {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.float-sider {
  transform: translate(57px);
  // transform: translate(0px);
  transition: all 0.3s;
  background: var(--aily-bg-tertiary);
  width: 50px;
  z-index: 99999;
  border-radius: 5px;
  padding: 5px 0 0 0;
  box-shadow: var(--aily-shadow-md);
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;

  .item {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: var(--aily-editor-flyout-bg);
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s;

    &.add {
      background: transparent !important;
    }
  }

  &.show {
    transform: translate(0px);

    .item {
      &:hover {
        background: var(--aily-border-tertiary);
      }
    }
  }

  .line{
    width: 30px;
    height: 1px;
    background: var(--aily-border-tertiary);
    margin-bottom: 5px;
  }
}