<div class="log-box">
  <ngx-simplebar [options]="options">
    @for(item of logList;track $index) {
    <div class="item" [ngClass]="{'error':item.state=='error','warn':item.state=='warn','info':item.state=='info'}"
      (dblclick)="copyLogItemToClipboard(item, $event)" title="单击复制到剪切板，双击复制到AI助手">
      <div class="date">{{item.timestamp | date:'HH:mm:ss'}}</div>
      <div class="title">{{item.title}}</div>
      <div class="text" [innerHTML]="item.detail | ansi"></div>
    </div>
    }
  </ngx-simplebar>
</div>
