<div class="log-toolbar">
  <label class="error-filter">
    <nz-switch
      nzSize="small"
      [ngModel]="showOnlyErrors"
      (ngModelChange)="onErrorFilterChange($event)"
    ></nz-switch>
    <span>{{ 'LOG.SHOW_ERRORS_ONLY' | translate }}</span>
  </label>
</div>

<div #scrollElement class="log-box">
  <div class="log-inner" [style.height.px]="virtualizer.getTotalSize()">
    @for (row of virtualizer.getVirtualItems(); track row.index) {
      @if (logList[row.index]) {
        <div
          #virtualRow
          [attr.data-index]="row.index"
          class="item"
          [ngClass]="{'error': logList[row.index].state === 'error', 'warn': logList[row.index].state === 'warn', 'info': logList[row.index].state === 'info'}"
          (click)="handleClick(logList[row.index], $event)"
          (dblclick)="handleDoubleClick(logList[row.index], $event)"
          [title]="'LOG.TOOLTIP' | translate"
          [style.transform]="'translateY(' + row.start + 'px)'"
        >
          <div class="date">{{ logList[row.index].timestamp | date:'HH:mm:ss' }}</div>
          <div class="title">{{ logList[row.index].title }}</div>
          <div class="text" [innerHTML]="logList[row.index].detail | ansi"></div>
        </div>
      }
    }
  </div>
</div>
