<div class="prompt-box bborder">
    <div class="header">
        <div class="title">{{ title }}</div>
        <div class="win-btns">
            <div class="btn ccenter close" (click)="onClose()">
                <i class="fa-light fa-xmark"></i>
            </div>
        </div>
    </div>
    <div class="content">
        <input nz-input type="text"  [(ngModel)]="value" (keyup.enter)="onConfirm()" />
        <div class="footer">
            <button nz-button [nzSize]="'small'" nzType="primary" (click)="onConfirm()">确定</button>
        </div>
    </div>
</div>