@if (currentUrl == "/code-viewer") {
<app-sub-window [title]="'CODE VIEWER'" [winBtns]="['go-main', 'minimize', 'maximize', 'close']">
  <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-sub-window>
} @else {
<app-tool-container [title]="'CODE VIEWER'" [path]="'/code-viewer'" (closeEvent)="close()">
  <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-tool-container>
}
<ng-template #windowBoxTemplate>
  <nz-code-editor [(ngModel)]="code" [nzEditorOption]="options"
    (nzEditorInitialized)="onEditorInitialized($event)">
  </nz-code-editor>
</ng-template>