<app-base-dialog
  title="SSH连接设置"
  [buttons]="buttons"
  [showCloseButton]="!connecting"
  (closeDialog)="close()"
  (buttonClick)="onButtonClick($event)">
  <form class="connector-form" (submit)="$event.preventDefault()">
    <div class="row host-port-row">
      <label>
        <span>SSH 地址</span>
        <input
          nz-input
          name="sshHost"
          [(ngModel)]="settings.host"
          autocomplete="off"
          [disabled]="connecting"
          placeholder="例如：192.168.1.100" />
      </label>
      <label>
        <span>端口</span>
        <input
          nz-input
          type="number"
          name="sshPort"
          min="1"
          max="65535"
          [(ngModel)]="settings.port"
          [disabled]="connecting" />
      </label>
    </div>

    <div class="row credentials-row">
      <label>
        <span>用户名</span>
        <input
          nz-input
          name="sshUsername"
          [(ngModel)]="settings.username"
          autocomplete="username"
          [disabled]="connecting" />
      </label>
      <label>
        <span>密码</span>
        <input
          nz-input
          class="password-input"
          type="password"
          name="sshPassword"
          [(ngModel)]="settings.password"
          autocomplete="current-password"
          [disabled]="connecting" />
      </label>
    </div>

    <label class="wide">
      <span>私钥文件</span>
      <div class="path-input">
        <input
          nz-input
          name="sshPrivateKeyPath"
          [(ngModel)]="settings.privateKeyPath"
          autocomplete="off"
          [disabled]="connecting"
          placeholder="可选" />
        <button type="button" (click)="selectPrivateKey()" [disabled]="connecting">浏览</button>
      </div>
    </label>

    <label
      nz-checkbox
      name="sshAutoTrustHostKey"
      [(ngModel)]="settings.autoTrustHostKey"
      [disabled]="connecting">
      自动信任 SSH 主机密钥
    </label>

    <label
      nz-checkbox
      name="sshRememberCredentials"
      [(ngModel)]="settings.rememberCredentials"
      [disabled]="connecting">
      记住用户名和密码
    </label>
  </form>
</app-base-dialog>
