.terminal-box {
  height: 100%;
  width: 100%;

  ::ng-deep {
    .terminal {
      height: 100%;
    }

    .xterm {
      padding: 10px;
    }

    .xterm-viewport {
      scrollbar-width: thin !important;
      scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    }
  }
}