:host {}

#blockly-area {
  position: relative;
}

#blockly-div {
  ::ng-deep {

    .blocklyFlyoutBackground,
    .blocklyTrash {
      opacity: 0;
      display: none;
    }

    .blocklyToolboxContents {
      padding-bottom: 35px;
    }
  }
}