@import "../../../components/lib-manager/lib-manager.component.scss";

.example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding: 15px;

    .example-item{
        width: 280px;
        height: 150px;
        background: #2b2b2b;
        border-radius: 5px;
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}