<div class="item">
  @if (viewMode.showTimestamp) {
  <div class="time">{{ data.time }}</div>
  <div class="dir" [ngClass]="{ send: data.dir == 's'}">
    @if(data.dir == 's') {
    TX
    }@else {
    RX
    }
  </div>
  }
  @if (mode == 1) {
  <div class="data vsfont" [ngClass]="{ send: data.dir == 's', error: data.data.includes('error:') }"
    [innerHTML]="data.data">
    <!-- {{ data.data }} -->
    <!-- <span class="zf">/r</span>
    <span class="zf">/n</span> -->
  </div>
  } @else {
  <div class="data vsfont">{{ data.source }}</div>
  }
</div>

@if (showMenu) {
<app-menu [menuList]="rightMenu" [position]="position" [width]="125" (closeEvent)="closeMenu()"
  (itemClickEvent)="menuClick($event)"></app-menu>
}