.lib-manager-box {
    position: absolute;
    background: var(--aily-bg-secondary);
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;

    .header {
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--aily-bg-tertiary);
        position: sticky;
        top: 0;
        z-index: 99;
        background: var(--aily-bg-elevated);
        overflow: hidden;

        .btns {
            position: absolute;
            display: flex;
            align-items: center;
            right: 0;
            padding: 0 10px;
            height: 100%;
            background: var(--aily-bg-elevated);

            i {
                margin-right: 5px;
            }
        }

        .btn {
            height: 40px;
            width: 40px;
            font-size: 19px;
            flex-shrink: 0;
        }

        nz-input-group {
            width: 160px;
            flex-shrink: 0;
            margin: 0 15px 0 10px;
        }
    }

    .lib-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 365px);
        justify-content: center;
        gap: 15px;
        width: 100%;
        padding: 15px;

        .lib-item {
            width: 100%;
            max-width: 365px;
            height: 165px;
            background: var(--aily-bg-elevated);
            border-radius: 5px;
            padding: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .name {
                display: flex;
                align-items: center;
                // align-items: flex-end;
                height: 20px;

                i {
                    margin-left: 10px;
                    font-size: 15px;

                    &.fa-badge-check {
                        color: #007706;
                    }

                    &.fa-circle-exclamation {
                        color: #cfaa04;
                    }
                }

                span {
                    position: absolute;
                    right: 10px;
                    font-size: 12px;
                    color: var(--aily-text-tertiary);
                }
            }

            .desc {
                color: var(--aily-text-tertiary);
                flex-grow: 1;
                font-size: 12px;
                white-space: normal;
                margin-top: 5px;

                .icon {
                    float: left;
                    height: 36px;
                    width: 36px;
                    margin-right: 10px;

                    i {
                        font-size: 24px;
                    }
                }
            }

            .footer {
                // position: absolute;
                // bottom: 10px;
                height: 24px;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .version {
                    nz-select {
                        width: 80px;
                    }
                }

                .btns {
                    display: flex;

                    button {
                        display: flex;

                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }

        }
    }


}

.tag-list {
    white-space: nowrap;

    nz-tag {
        cursor: pointer;
    }
}

.error {
    color: rgb(133, 8, 8) !important;
}