<div class="code-editor">
  @if (isPythonProject) {
    <nz-layout>
      <nz-sider [nzWidth]="siderWidth" nz-resizable [nzMinWidth]="220" [nzMaxWidth]="500" (nzResize)="onSideResize($event)">
        <nz-resize-handle nzDirection="right" nzCursorType="grid"></nz-resize-handle>
        <div class="left-box python-files">
          <div class="file-source-tabs" role="tablist" aria-label="File source">
            <button type="button" role="tab" [attr.aria-selected]="pythonFileSource === 'local'" [class.active]="pythonFileSource === 'local'" (click)="pythonFileSource = 'local'">Local</button>
            <button type="button" role="tab" [attr.aria-selected]="pythonFileSource === 'device'" [class.active]="pythonFileSource === 'device'" (click)="pythonFileSource = 'device'">Device</button>
          </div>
          @if (pythonRuntime.state$ | async; as pythonState) {
            @if (pythonFileSource === 'local') {
              <app-file-tree [rootPath]="projectPath" [(selectedFile)]="selectedFile" (selectedFileChange)="selectedFileChange($event)" (filesDeleted)="onFilesDeleted($event)"></app-file-tree>
            } @else {
              <app-remote-file-tree [enabled]="pythonState.connectionState === 'connected'" (fileOpen)="openRemoteFile($event)"></app-remote-file-tree>
            }
          }
        </div>
      </nz-sider>

      <nz-content>
        <div class="python-workbench">
          <div class="right-box python-editor-pane">
            <ng-container *ngTemplateOutlet="editorPane"></ng-container>
          </div>
          <div class="python-terminal-pane" nz-resizable [nzMinHeight]="110" [nzMaxHeight]="360" [style.height.px]="terminalHeight" (nzResize)="onTerminalResize($event)">
            <nz-resize-handle nzDirection="top"></nz-resize-handle>
            <app-python-terminal></app-python-terminal>
          </div>
          <app-python-device-panel class="python-device-pane" (runRequested)="onPythonRun()" (stopRequested)="onPythonStop()"></app-python-device-panel>
        </div>
      </nz-content>
    </nz-layout>
  } @else {
    <nz-layout>
      <nz-sider [nzWidth]="siderWidth" nz-resizable [nzMinWidth]="250" [nzMaxWidth]="600" (nzResize)="onSideResize($event)">
        <nz-resize-handle nzDirection="right" nzCursorType="grid"></nz-resize-handle>
        <div class="left-box">
          <app-file-tree [rootPath]="projectPath" [(selectedFile)]="selectedFile" (selectedFileChange)="selectedFileChange($event)" (filesDeleted)="onFilesDeleted($event)"></app-file-tree>
        </div>
      </nz-sider>
      <nz-content>
        <div class="right-box">
          <ng-container *ngTemplateOutlet="editorPane"></ng-container>
        </div>
      </nz-content>
    </nz-layout>
  }
</div>

<ng-template #editorPane>
  @if (openedFiles.length > 0) {
    <nz-tabset [nzSize]="'small'" [nzSelectedIndex]="selectedIndex" (nzSelectedIndexChange)="onTabChange($event)" nzType="editable-card" [nzHideAdd]="true" (nzClose)="closeTab($event)">
      @for (file of openedFiles; track file.path; let i = $index) {
        <nz-tab nzClosable [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <span class="tab-inner" (mousedown)="handleMiddleClick($event, i)">
              {{ file.title }} <span class="blue-point" *ngIf="file.isDirty"></span>
            </span>
          </ng-template>
        </nz-tab>
      }
    </nz-tabset>
    <app-monaco-editor [code]="code" (codeChange)="onCodeChange($event)" [filePath]="selectedFile" (openFileRequest)="onOpenFileRequest($event)"></app-monaco-editor>
  } @else {
    <div class="empty-editor">No file open</div>
  }
</ng-template>

<app-notification></app-notification>
