.file-explorer {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #2b2d30;

    .file-explorer-header {
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        padding: 8px;

        .refresh-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 14px;
            color: #666;

            &:hover {
                color: #1890ff;
            }
        }
    }

    .file-explorer-content {

        ngx-simplebar {
            height: 100%;
            width: 100%;

            ::ng-deep {
                .simplebar-content-wrapper {
                    height: 100%;
                }

                .simplebar-content {
                    height: 100%;
                }
            }
        }

        // nz-tree {
        //     ::ng-deep {
        //         .ant-tree-treenode {
        //             padding: 0;
        //             cursor: pointer;
        //         }

        //         .ant-tree-treenode-selected{
        //             background: #3a3a3a;
        //         }

        //         .ant-tree-node-selected{
        //             background: none;
        //             &:hover{
        //                 background: none;
        //             }
        //         }

        //         .ant-tree-switcher{
        //             width: 0;
        //         }
        //     }
        // }

        nz-tree-node {
            padding: 0;
            height: 24px;

            &::before {
                bottom: 0 !important;
            }
        }

        .file-item {
            display: flex;
            align-items: center;
            font-size: 12px;

            .icon {
                height: 24px;
                width: 24px;
                font-size: 10px;
            }

            .file-name {
                height: 100%;
            }
        }
    }
}

.arrow {
    transition: transform 0.3s;

    &.down {
        transform: rotate(90deg);
    }
}