.file-explorer {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #2b2d30;

    .file-explorer-header {
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        // border-bottom: 1px solid #e8e8e8;

        .refresh-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 14px;
            color: #666;

            &:hover {
                color: #1890ff;
            }
        }
    }
}