<div class="aily-library-viewer" (dblclick)="logDetail()">
  <div class="board-card">
    <div class="img-box ccenter">
      <i class="{{libraryInfo?.icon}}"></i>
    </div>
    <div class="text-box">
      <div class="title">{{libraryInfo?.nickname}}</div>
      <div class="text ellipsis">{{libraryInfo?.description}}</div>
    </div>
    <div class="action-btns ccenter">
      @if (libraryInfo?.url) {
      <div class="btn ccenter" (click)="viewDocumentation()"><i class="fa-regular fa-book"></i></div>
      }
      <!-- <div class="btn ccenter" (click)="installLibrary()"><i class="fa-regular fa-plus"></i></div> -->
    </div>
  </div>
</div>