@use "../aily-board-viewer/aily-board-viewer.component.scss";

.aily-library-viewer {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #3a3a3a;
  color: #ccc;

  &:hover {
    background-color: #3f3f3f;
  }
}


.img-box {
  i {
    font-size: 24px;
  }
}