.lib-manager-box {
    position: absolute;
    background: #1f1f1f;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    .header {
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #333;
        position: sticky;
        top: 0;
        z-index: 99;
        background: #222;

        .btn {
            height: 40px;
            width: 40px;
            font-size: 19px;
            flex-shrink: 0;
        }

        nz-input-group {
            width: 160px;
            flex-shrink: 0;
            margin: 0 15px 0 10px;
        }
    }

    .lib-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        padding: 15px;

        .lib-item {
            width: 280px;
            height: 150px;
            background: #2b2b2b;
            border-radius: 5px;
            padding: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .state {
                position: absolute;
                width: 5px;
                height: 100%;
                top: 0px;
                left: 0px;
                background: rgba(0, 119, 6, 0.5);
            }

            .name {
                display: flex;
                align-items: flex-end;
                height: 20px;

                span {
                    position: absolute;
                    right: 10px;
                    font-size: 12px;
                    color: #aaa;
                }
            }

            .desc {
                color: #aaa;
                flex-grow: 1;
                font-size: 12px;
                white-space: normal;
                margin-top: 5px;

                .icon {
                    float: left;
                    height: 36px;
                    width: 36px;
                    margin-right: 10px;

                    i {
                        font-size: 24px;
                    }
                }
            }

            .footer {
                // position: absolute;
                // bottom: 10px;
                height: 24px;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .version {
                    nz-select {
                        width: 80px;
                    }
                }

                .btns {
                    display: flex;
                }
            }

        }
    }


}

.tag-list {
    white-space: nowrap;
    nz-tag {
        cursor: pointer;
    }
}