<div #devtoolBox class="devtool-box" [style.left.px]="currentX" [style.bottom.px]="currentY"
    [class.dragging]="isDragging" [class.position-ready]="positionReady">
    <div class="drag-handle" (mousedown)="onDragStart($event)" nz-tooltip nzTooltipTitle="drag to move">
        <i class="fa-solid fa-grip-dots-vertical"></i>
    </div>
    <div class="btn ccenter" [class.disabled]="reloadDisabled" (click)="reload()" nz-tooltip nzTooltipTitle="reload project">
        <i class="fa-light fa-sync" [class.reloading]="reloadDisabled"></i>
    </div>
    <div class="btn ccenter" (click)="clear()" nz-tooltip nzTooltipTitle="clear cache">
        <i class="fa-light fa-broom-wide"></i>
    </div>
    <div class="line">
    </div>
    <div class="btn ccenter" nz-tooltip [nzTooltipTitle]="'FLOAT_SIDER.PROJECT_SETTINGS' | translate" (click)="openSettings()">
        <i class="fa-light fa-folder-bookmark"></i>
    </div>
    <div class="btn ccenter" nz-tooltip [nzTooltipTitle]="'FLOAT_SIDER.ARCH' | translate" (click)="showArch()">
        <i class="fa-light fa-diagram-project"></i>
    </div>
    <div class="btn ccenter" nz-tooltip [nzTooltipTitle]="'FLOAT_SIDER.PINMAP' | translate" (click)="showPinmap()">
        <i class="fa-light fa-microchip"></i>
    </div>
    <div class="btn ccenter" nz-tooltip [nzTooltipTitle]="'FLOAT_SIDER.CIRCUIT' | translate" (click)="showCircuit()">
        <i class="fa-light fa-code-branch"></i>
    </div>
    <div class="btn ccenter" nz-tooltip [nzTooltipTitle]="'FLOAT_SIDER.DOCUMENTATION' | translate" (click)="openDocUrl()">
        <i class="fa-light fa-book"></i>
    </div>
    <div class="line">
    </div>
    <div class="btn ccenter" nz-tooltip [nzTooltipTitle]="'FLOAT_SIDER.FEEDBACK' | translate" (click)="openFeedback()">
        <i class="fa-light fa-message-pen"></i>
    </div>
    <!-- <div class="check ccenter">
        <input type="checkbox" id="autoSave" style="margin-right: 3px;" [(ngModel)]="autoSave" />
        <label for="autoSave">
            auto save
        </label>
    </div> -->
    <!-- <div class="btn ccenter" (click)="openWebDevTools()">
        <i class="fa-light fa-gear-code"></i>
    </div>
    <div class="btn ccenter" (click)="help()">
        <i class="fa-light fa-circle-info"></i>
    </div> -->
    <!-- <div class="btn ccenter" (click)="close()">
        <i class="fa-light fa-xmark"></i>
    </div> -->
</div>
<app-image-viewer #imageViewer></app-image-viewer>
