.prompt-box {
    background: var(--aily-bg-primary);
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    &.loading {
        pointer-events: none;
        opacity: 0.7;
    }
}

.header {
    display: flex;
    align-items: center;
    height: 34px;
    border-bottom: 1px solid var(--aily-border-primary);
    background: var(--aily-bg-primary);
}

.title {
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.win-btns {
    display: flex;
    align-items: center;
    font-size: 15px;

    .btn {
        font-size: 16px;
        width: 33px;
        height: 33px;
        margin-right: 0;

        &:hover {
            background: var(--aily-bg-tertiary);
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    .minimize {
        font-size: 18px;
    }

    .go-main {
        margin-right: 10px;
        font-size: 17px;
        background: transparent !important;

        &:hover {
            color: var(--aily-color-link-hover);
        }
    }

    .close {
        font-size: 19px;

        &:hover {
            color: var(--aily-color-error);
        }
    }
}

.content {
    padding: 10px;
    background: var(--aily-bg-secondary);

    input {
        background: var(--aily-bg-tertiary);
    }
}

.footer {
    margin-top: 10px;
    text-align: right;

    button {
        margin-left: 10px;
    }
}
