<div class="toolbox-pane">
  <div class="toolbox-search">
    <div class="toolbox-search-inner">
      <div class="toolbox-search__icon ccenter">
        <i class="fa-light fa-magnifying-glass"></i>
      </div>
      <input class="toolbox-search__input" type="search" placeholder="Search" [value]="searchQuery"
        (focus)="onSearchFocus()" (input)="onSearchInput($event)" (keydown.escape)="onSearchClear()">
      <button *ngIf="searchQuery" type="button" class="toolbox-search__clear" (click)="onSearchClear()">
        <i class="fa-light fa-xmark"></i>
      </button>
    </div>
  </div>

  <div class="toolbox-list" data-toolbox-sortable-container="true">
    <ng-container *ngFor="let item of items; trackBy: trackItem">
      <ng-container *ngTemplateOutlet="toolboxNode; context: { $implicit: item }"></ng-container>
    </ng-container>
  </div>

  <div class="toolbox-footer">
    <button type="button" class="toolbox-footer__button" (click)="onLibraryManagerClick()">
      {{ 'LIB_MANAGER.TITLE' | translate }}
    </button>
  </div>
</div>

<ng-template #toolboxNode let-item>
  <div class="toolbox-node" [class.toolbox-node--sortable]="item.level === 0" [attr.data-toolbox-key]="item.key"
    [attr.data-toolbox-sort-key]="item.sortKey">
    <div class="toolbox-row" [class.selected]="selectedKey === item.key"
      [class.toolbox-row--sortable-handle]="item.level === 0" (contextmenu)="onToolboxItemContextMenu(item, $event)">
      <button type="button" class="toolbox-item" [style.padding-left.px]="5 + item.level * 16"
        (click)="onCategoryClick(item)">
        <span class="toolbox-item__icon">
          <i [class]="item.iconClass"></i>
        </span>
        <span class="toolbox-item__label">{{ item.name }}</span>
      </button>

      @if (item.isCollapsible) {
        <button type="button" class="toolbox-item__toggle" [attr.aria-expanded]="item.expanded"
          (click)="onToggleClick(item, $event)">
          <i class="fa-light fa-chevron-right" [class.expanded]="item.expanded"></i>
        </button>
      }
    </div>

    <div class="toolbox-node__children" *ngIf="item.isCollapsible && item.expanded">
      <ng-container *ngFor="let child of item.children; trackBy: trackItem">
        <ng-container *ngTemplateOutlet="toolboxNode; context: { $implicit: child }"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

@if (showContextMenu) {
<app-menu class="toolbox-context-menu" [position]="contextMenuPosition" [menuList]="contextMenuItems"
  (itemClickEvent)="onContextMenuItemClick($event)" (closeEvent)="closeContextMenu()"></app-menu>
}
