$footer-height: 30px;
$footer-inner-height: 28px;

.footer-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $footer-height;
  background: var(--aily-bg-primary);
  border-top: 2px solid var(--aily-border-primary);
  position: relative;
}

.btn {
  width: $footer-inner-height;
  height: $footer-inner-height;

  &:hover {
    background: var(--aily-bg-tertiary);
  }

  &.active {
    background: var(--aily-bg-active);
    color: var(--aily-text-primary);
  }
}

.state {
  position: absolute;
  top: 0;
  right: 10px;
  height: 26px;
  display: flex;
  align-items: center;

  .icon {
    width: 26px;
    height: 26px;
  }

  .fa-circle-xmark{
    color: var(--aily-color-error-bright);
  }

  .fa-triangle-exclamation{
    color: var(--aily-color-error-notice);
  }

  .fa-circle-check{
    color: rgb(0, 200, 0);
  }
}