:host{
    position: relative;
}

blockly-main {
    ::ng-deep {
        .blocklyBox{
            // position: fixed;
            // top: 60px;
            // height: calc(100% - 105px);
            width: 100%;
            height: 100%;
        }
    }
}
