.markdown-container {
  height: 400px;
  overflow-y: auto;
  margin: -10px -10px 10px -10px;
  padding: 15px;
  background: var(--aily-bg-elevated);
}

.text {
  min-height: 32px;
  line-height: 25px;
  padding-bottom: 10px;
}

.progress-container {
  height: 32px;
}

.error-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  color: #f5222d;
}