@if (appearance === 'composer') {
  <div class="acc-menu-anchor">
    <button
      type="button"
      class="acc-plus ccenter"
      [class.active]="showAddList"
      [attr.aria-expanded]="showAddList"
      [attr.aria-label]="'AILY_CHAT.ADD_CONTEXT' | translate"
      aria-haspopup="menu"
      (click)="onToggleAddList($event)"
    >
      <i class="fa-light fa-plus"></i>
    </button>
  </div>
} @else {
  <div
    class="acc-clip ccenter"
    nz-tooltip
    nzTooltipPlacement="bottom"
    [nzTooltipTitle]="'AILY_CHAT.ADD_CONTEXT' | translate"
    (click)="toggleAddList.emit($event)"
  >
    <i class="fa-light fa-paperclip"></i>
  </div>
}
@if (appearance === 'edit' && showAddList) {
  <div class="acc-expand-backdrop" [style.width.px]="expandedBackdropWidth">
    <div
      class="acc-back ccenter"
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="'AILY_CHAT.ADD_CONTEXT' | translate"
      (click)="toggleAddList.emit($event)"
    >
      <i class="fa-light fa-angle-left"></i>
    </div>
  </div>
  <div
    class="acc-sub ccenter"
    nz-tooltip
    nzTooltipPlacement="bottom"
    [nzTooltipTitle]="'AILY_CHAT.ADD_FILE' | translate"
    (click)="addFile.emit()"
  >
    <i class="fa-light fa-file-plus"></i>
  </div>
  <div
    class="acc-sub ccenter"
    nz-tooltip
    nzTooltipPlacement="bottom"
    [nzTooltipTitle]="'AILY_CHAT.ADD_FOLDER' | translate"
    (click)="addFolder.emit()"
  >
    <i class="fa-light fa-folder-plus"></i>
  </div>
}
<div
  #modeChipTooltip="nzTooltip"
  class="acc-chip ccenter"
  [class.acc-chip--after-expanded-context]="appearance === 'edit' && showAddList"
  nz-tooltip
  nzTooltipPlacement="bottom"
  [nzTooltipTrigger]="modeTooltipTrigger"
  [nzTooltipTitle]="displayCustomAgentTarget ? displayCustomAgentTarget : (modeTooltipTitle | translate)"
  (click)="onModeClick($event)"
>
  <i [class]="modeIconClass"></i>
  @if (displayCustomAgentTarget) {
    <span>{{ displayCustomAgentTarget }}</span>
  } @else if (showModeLabel && modeLabelKey) {
    <span>{{ modeLabelKey | translate }}</span>
  } @else if (modePlainLabel) {
    <span>{{ modePlainLabel }}</span>
  }
</div>
@if (showModelChip) {
  <div
    #modelChipTooltip="nzTooltip"
    class="acc-chip ccenter"
    [class.acc-chip--after-expanded-context]="appearance === 'edit' && showAddList"
    nz-tooltip
    nzTooltipPlacement="bottom"
    [nzTooltipTrigger]="modelTooltipTrigger"
    [nzTooltipTitle]="modelChipLabel"
    (click)="onModelClick($event)"
  >
    <i class="fa-light fa-star-christmas"></i><span>{{ modelChipLabel }}</span>
    <!-- @if (modelBillingLabel) {
      <span class="acc-mini-tag">{{ modelBillingLabel }}</span>
    } -->
  </div>
}
