.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    .c1 {
        position: absolute;
        top: -15vh;
        left: -15vw;
        width: 75vw;
        height: 80vh;
        background: linear-gradient(360deg, #F0F7FF 0%, #E4F0FE 100%);
        border-radius: 50%;
        filter: blur(50px);
    }

    .c2 {
        position: absolute;
        bottom: -15vh;
        left: -15vw;
        width: 45vw;
        height: 60vh;
        background: linear-gradient(360deg, #F0F7FF 0%, #7DDBFF99 100%);
        border-radius: 50%;
        filter: blur(50px);
        transform: rotate(-25deg);
    }

    .c3 {
        position: absolute;
        width: 90vw;
        height: 90vh;
        bottom: 10vh;
        left: 10vw;
        transform: rotate(-35deg);
        background: rgba(125, 177, 255, 0.44);
        filter: blur(90px);
        border-radius: 50%;
    }

    .c4 {
        position: absolute;
        top: -15vh;
        right: -15vw;
        width: 30vw;
        height: 70vh;
        background: rgba(125, 157, 255, 0.3);
        filter: blur(50px);
        border-radius: 50%;
    }

    .c5 {
        position: absolute;
        bottom: -15vh;
        right: -15vw;
        width: 30vw;
        height: 70vh;
        background: rgba(125, 157, 255, 0.3);
        filter: blur(50px);
        border-radius: 50%;
    }
}


// /* BG */

// position: absolute;
// width: 1920px;
// height: 1080px;



// /* Rectangle 362 */

// position: absolute;
// width: 1920px;
// height: 1080px;

// background: linear-gradient(360deg, #F0F7FF 0%, #E4F0FE 100%);


// /* Mask group */

// position: absolute;
// width: 1920px;
// height: 1080px;



// /* Rectangle 363 */

// position: absolute;
// width: 1920px;
// height: 1080px;

// background: linear-gradient(360deg, #F0F7FF 0%, #E4F0FE 100%);


// /* Group 1000006162 */

// position: absolute;
// width: 2385px;
// height: 1307px;



// /* Ellipse 63 */

// position: absolute;
// width: 940.5px;
// height: 689px;

// background: rgba(125, 219, 255, 0.6);
// filter: blur(151.85px);


// /* Ellipse 64 */

// position: absolute;
// width: 850px;
// height: 689px;

// background: rgba(125, 177, 255, 0.44);
// filter: blur(151.85px);


// /* Ellipse 67 */

// position: absolute;
// width: 850px;
// height: 689px;

// background: rgba(125, 158, 255, 0.2);
// filter: blur(151.85px);


// /* Ellipse 68 */

// position: absolute;
// width: 850px;
// height: 689px;

// background: rgba(125, 158, 255, 0.2);
// filter: blur(151.85px);