<div class="main">
  <app-header></app-header>
  <div class="mid-box">
    <app-blockly-editor></app-blockly-editor>
    <div *ngIf="showRbox" style="background: red;width: 300px;height: 100%;"></div>
  </div>
  <app-footer (click)="openRbox()"></app-footer>
</div>
<!-- <div class="bounds" #WindowsBounds>
  @for (item of windows; track item) {
    <app-inner-window [opt]="item">
      @switch (item.type) {
        @case ("blockly-editor") {
          <app-blockly-editor></app-blockly-editor>
        }
        @case ("serial-monitor") {
          <app-serial-monitor></app-serial-monitor>
        }
        @case ("aily-chat") {
          <app-aily-chat></app-aily-chat>
        }
        @case ("code-viewer") {
          <app-code-viewer></app-code-viewer>
        }
        @case ("terminal") {
          <app-terminal></app-terminal>
        }
        @case ("data-chart") {
          <app-data-chart></app-data-chart>
        }
      }
    </app-inner-window>
  }
</div> -->
