.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  app-blockly-editor {
    height: calc(100vh - 80px);
  }
}

.bounds {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  app-inner-window{
    pointer-events: auto;
  }
}
