<div class="aily-blockly-viewer">
  <div class="viewer-header">
    <div class="header-left">
      <span class="type-badge">Blockly</span>
      <span class="title" *ngIf="data?.metadata?.title">{{ data.metadata.title }}</span>
    </div>
    <div class="header-actions">
      <button 
        nz-button 
        nzType="text" 
        nzSize="small"
        nz-tooltip="复制到剪贴板"
        (click)="copyToClipboard()">
        <span nz-icon nzType="copy"></span>
      </button>
      <button 
        nz-button 
        nzType="text" 
        nzSize="small"
        nz-tooltip="导入到工作区"
        (click)="importToWorkspace()"
        *ngIf="canImport">
        <span nz-icon nzType="import"></span>
      </button>
      <button 
        nz-button 
        nzType="text" 
        nzSize="small"
        nz-tooltip="切换视图"
        (click)="toggleView()">
        <span nz-icon [nzType]="showRaw ? 'eye' : 'code'"></span>
      </button>
    </div>
  </div>
  
  <div class="viewer-content">
    <div *ngIf="!showRaw && blocklyData" class="blockly-view">
      <app-aily-blockly [data]="blocklyData" #blocklyComponent></app-aily-blockly>
    </div>
    
    <div *ngIf="showRaw" class="raw-view">
      <pre><code>{{ formatData() }}</code></pre>
    </div>
    
    <div *ngIf="errorMessage" class="error-view">
      <div class="error-content">
        <span nz-icon nzType="exclamation-circle" class="error-icon"></span>
        <span>{{ errorMessage }}</span>
      </div>
    </div>
  </div>
  
  <div class="viewer-footer" *ngIf="data?.metadata">
    <small class="metadata-info">
      <span *ngIf="data.metadata.description">{{ data.metadata.description }}</span>
      <span *ngIf="data.metadata.version" class="version">v{{ data.metadata.version }}</span>
    </small>
  </div>
</div>
