.blocklyBox {
    width: 100%;
    height: 100%;


    ::ng-deep {
        .blocklyToolboxDiv {
            width: 180px;
            background: #323232;
            border-right: 1px solid #E0E0E0;
            padding: 0;
            scrollbar-width: thin !important;
            scrollbar-color: rgba(255, 255, 255, 0.2) transparent; 

            .blocklyToolboxCategory {
                .blocklyTreeRow {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    width: 100%;
                    transition: all 0.3s;
                    margin-bottom: 0;
                }

                .blocklyTreeSelected {
                    background: #929292 !important;
                }

                .blocklyTreeRowContentContainer {
                    display: flex;
                    align-items: center;

                    .tbc-icon-box {
                        font-size: 16px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                }

            }
        }

    }
}

.testbtn{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 999;
    width: 80px;
    height: 80px;
    background: rgb(177, 8, 8);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
        background: rgb(212, 48, 48);
    }
}