.blocklyBox {
    width: 100%;
    height: 100%;


    ::ng-deep {

        .blocklyMainBackground {
            stroke-width: 0 !important;
        }

        .blocklyToolbox {
            width: 180px;
            background: #323232;
            padding: 0;
            scrollbar-width: thin !important;
            scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

            .blocklyToolboxCategoryContainer {
                width: 180px;
            }

            .blocklyToolboxCategoryGroup {
                padding-bottom: 30px;
            }

            .blocklyToolboxCategory {
                height: 40px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s;
                margin-bottom: 0;
                border: none !important;
            }

            .blocklyToolboxSelected {
                background: #929292 !important;
            }

            .blocklyTreeRowContentContainer {
                display: flex;
                align-items: center;

                .tbc-icon-box {
                    margin-top: 3px;
                    font-size: 16px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }

            // 搜索框例外
            &:first-child {
                input {
                    border-radius: 14px;
                    margin-left: 12px !important;
                    padding: 0 10px;
                    width: 158px;
                    height: 30px;
                    background: #444;
                    border: none;
                    outline: none;
                }
            }

        }

        .blocklyFlyoutLabelText {
            fill: #ccc;
        }
    }
}

.testbtn {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 999;
    width: 80px;
    height: 80px;
    background: rgb(177, 8, 8);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background: rgb(212, 48, 48);
    }
}