<app-tool-container [title]="'CLOUD SPACE'" (closeEvent)="close()">
    <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-tool-container>
<ng-template #windowBoxTemplate>
    <div class="window-box">
        <!-- <div class="section-title">
            <div class="title ccenter">
                云存储列表
                <div class="search-btn ccenter" (click)="openSearch()"><i class="fa-light fa-magnifying-glass"></i>
                </div>
            </div>
            @if(showSearch){
            <div class="search-box">
                <input nz-input placeholder="搜索已存储的项目" [(ngModel)]="searchKeyword" (ngModelChange)="onSearchChange()" />
                <div class="close-btn ccenter" (click)="closeSearch()">
                    <i class="fa-light fa-xmark"></i>
                </div>
            </div>
            }
        </div> -->

        <div class="section-title">
            <div class="search-bar">
                @if (canSync) {
                <button class="sync-btn ccenter" nz-button nzType="primary" (click)="syncToCloud()" [disabled]="isSyncing">
                    <i class="fa-regular fa-arrows-rotate" [class.spinning]="isSyncing"></i>
                    {{ isSyncing ? '正在同步' : '同步本项目到云端' }}
                </button>
                }
                <div class="search-box">
                    <input nz-input placeholder="搜索已存储的项目" [(ngModel)]="searchKeyword"
                        (ngModelChange)="onSearchChange()" />
                    <div class="close-btn ccenter" (click)="closeSearch()">
                        @if(searchKeyword.length > 0) {
                        <i class="fa-light fa-xmark"></i>
                        }@else {
                        <i class="fa-light fa-magnifying-glass"></i>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="item-list sscroll">
            @for (item of filteredItemList; track $index) {
            <div class="item">
                <div class="content">
                    <div class="left">
                        <img src={{item?.image_url}} alt="">
                        <div class="title">{{item?.nickname}}</div>
                    </div>
                    <div class="right">
                        <div class="text">{{item?.description || '无描述'}}</div>
                        <div class="uuid">ID: {{item?.id || ''}}</div>
                    </div>
                </div>
                <div class="btns ccenter">
                    <button (click)="openInNewTab(item)" [disabled]="openingProjectIds.has(item.id)">
                        <i class="fa-light" [class.fa-folder-open]="!openingProjectIds.has(item.id)"
                            [class.fa-spinner]="openingProjectIds.has(item.id)"
                            [class.fa-spin]="openingProjectIds.has(item.id)"></i>
                        {{ openingProjectIds.has(item.id) ? '打开中...' : '打开' }}
                    </button>
                    <button (click)="openEditor(item)">
                        <i class="fa-light fa-pen"></i>
                        编辑
                    </button>
                    <button (click)="toggleVisibility(item)">
                        @if (item?.is_published === false) {
                        <i class="fa-light fa-eye"></i>
                        公开
                        } @else {
                        <i class="fa-light fa-eye-slash"></i>
                        私有
                        }
                    </button>
                    <button (click)="toggleTemplate(item)">
                        @if (item?.is_template === false) {
                        <i class="fa-light fa-box-check"></i>
                        设为模板
                        } @else {
                        <i class="fa-light fa-box"></i>
                        取消模板
                        }
                    </button>
                    <button class="delete" (click)="deleteCloudProject(item)">
                        <i class="fa-light fa-trash"></i>
                        删除
                    </button>
                </div>
            </div>
            }
        </div>
        @if(showEditor) {
        <app-cloud-project-editor (close)="showEditor = false" (saved)="onProjectSaved()"
            [projectData]="editorProjectData"></app-cloud-project-editor>
        }
    </div>
    <app-login></app-login>
</ng-template>