<div class="dialog-box animate__animated animate__fadeIn animate__faster" [ngClass]="{ 'user': role=='user' }">
  <div class="username" (dblclick)="test()">
    @if(role=='user'){
    <i class="fa-light fa-user-vneck"></i>&nbsp;&nbsp;me
    }@else {
    <i class="fa-light fa-user-astronaut"></i>&nbsp;&nbsp;aily
    }
  </div>
  @if(content==='[thinking...]'){
  <div class="content thinking">🤔思考中...</div>
  }
  <div #contentDiv class="content" ailyDynamicComponent></div>
  @if(doing){
  <div class="loader"></div>
  }
</div>