<app-base-dialog
    [title]="title"
    [buttons]="buttons"
    [showCloseButton]="!installing"
    (closeDialog)="cancel()"
    (buttonClick)="onButtonClick($event)">
    <div class="text">
        <div class="t1"><i class="fa-solid fa-puzzle-piece"></i>{{ message }}</div>
        <div class="lib-list">
            @for(lib of missingLibs; track lib.name) {
            <div class="lib-item">
                <nz-tag nzColor="processing">{{ lib.name }}</nz-tag>
                <span class="version">{{ getVersionDisplay(lib) }}</span>
            </div>
            }
        </div>
        <div class="install-log" *ngIf="installLog">
            <div class="log-text">{{ installLog }}</div>
        </div>
    </div>
</app-base-dialog>
