.text {
    .t1 {
        color: var(--aily-text-quaternary);
        font-size: 13px;
        margin-bottom: 12px;

        i {
            color: #4b97dd;
            margin-right: 5px;
            font-size: 16px;
        }
    }
}

.lib-list {
    margin-bottom: 12px;
}

.lib-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    .version {
        color: var(--aily-text-secondary);
        font-size: 12px;
        margin-left: 4px;
    }
}

.install-log {
    margin-top: 8px;
    padding: 8px;
    background: var(--aily-bg-secondary);
    border-radius: 4px;
    max-height: 100px;
    overflow-y: auto;

    .log-text {
        color: #e05a00;
        font-size: 12px;
        white-space: pre-wrap;
        word-break: break-all;
    }
}
