.window-box {
    padding: 0 15px;

    .user-info {
        display: flex;
        align-items: center;
        padding: 15px 0;
        position: relative;

        .avatar {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            border-radius: 50%;
            border: 1px var(--aily-border-tertiary) solid;
            overflow: hidden;

            i {
                color: var(--aily-border-tertiary);
                font-size: 30px;
            }

            .avatar-img {
                width: 100%;
                height: 100%;
            }
        }

        .text {

            .username {
                font-size: 18px;
            }

            .plan {
                color: var(--aily-text-tertiary);
            }

        }


        .action {
            position: absolute;
            display: flex;
            right: 15px;
            gap: 30px;
            font-size: 20px;
            cursor: pointer;
        }

    }

    .user-data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top: 1px var(--aily-border-tertiary) solid;
        border-bottom: 1px var(--aily-border-tertiary) solid;
        padding: 10px 0;

        .item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 10px;
            background: var(--aily-bg-tertiary);

            &:hover {
                border-color: var(--aily-scrollbar-thumb);
                background: var(--aily-bg-tertiary);
            }

            .icon {
                width: 48px;
                height: 48px;
                border-radius: 20px;
                background: var(--aily-bg-tertiary);
                color: var(--aily-text-primary);
                flex-shrink: 0;

                i {
                    font-size: 20px;
                }
            }

            .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                // gap: 3px;

                .value {
                    font-size: 20px;
                    font-weight: 500;
                    color: rgba(255, 166, 0, 0.86);
                }
            }
        }
    }

    .actions {
        width: 100%;
        margin: 24px 0 16px;

        button {
            width: 100%;
        }
    }
}

.others{
    margin-top: 10px;
    border-radius: 5px;
    // border: 1px #666 solid;
    height: 300px;
    background: var(--aily-bg-tertiary);
}