<app-tool-container [title]="'USER CENTER'" (closeEvent)="close()">
    <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-tool-container>
<ng-template #windowBoxTemplate>
    <div class="window-box">
        <div class="user-info">
            <div class="avatar ccenter" (click)="onAvatarClick()">
                @if (currentUser?.avatar) {
                <img class="avatar-img" [src]="currentUser.avatar" alt="用户头像" />
                } @else {
                <i class="fa-thin fa-user"></i>
                }
            </div>
            <div class="text">
                <div class="username">
                    {{ displayNickname }}
                </div>
                <div class="plan">
                    {{ displayPlanName }} Plan
                </div>
            </div>
            <div class="action">
                <div class="btn link" nz-tooltip="设置" (click)="onAvatarClick()">
                    <i class="fa-light fa-gear"></i>
                </div>
                <div class="btn link" nz-tooltip="登出" (click)="onLogout()">
                    <i class="fa-light fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
        <div class="user-data">
            <!-- 可用次数 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-star-christmas"></i>
                </div>
                <div class="content">
                    <span class="label">AI可用次数</span>
                    <span class="value">{{ benefits?.ai_calls?.unlimited ? '♾️' : (benefits?.ai_calls?.used ?? 0) + '/' + (benefits?.ai_calls?.total ?? 0) }}</span>
                </div>
                @if (!isProPlanSubscriber) {
                <div class="action btn link" (click)="OpenUrl('/user/subscription')">
                    增加使用次数
                </div>
                }
            </div>
            <!-- 云存储使用 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-album-collection fa-light"></i>
                </div>
                <div class="content">
                    <span class="label">云存储</span>
                    <span class="value">{{ benefits?.cloud_storage?.unlimited ? '♾️' : (benefits?.cloud_storage?.used ?? 0) + '/' + (benefits?.cloud_storage?.total ?? 0) }}</span>
                </div>
                @if (!isProPlanSubscriber) {
                <div class="action btn link" (click)="OpenUrl('/user/subscription')">
                    增加存储空间
                </div>
                }
            </div>
            <!-- 物联网设备 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-chart-network"></i>
                </div>
                <div class="content">
                    <span class="label">物联网设备</span>
                    <span class="value">{{ benefits?.iot_devices?.unlimited ? '♾️' : (benefits?.iot_devices?.used ?? 0) + '/' + (benefits?.iot_devices?.total ?? 0) }}</span>
                </div>
                @if (!isProPlanSubscriber) {
                <div class="action btn link" (click)="OpenUrl('/user/subscription')">
                    增加设备数量
                </div>
                }
            </div>
            <!-- 积分 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-award"></i>
                </div>
                <div class="content">
                    <span class="label">账户积分<i class="fa-light fa-circle-question" style="margin-left: 5px;"></i></span>
                    <span class="value">{{ benefits?.points ?? 0 }}</span>
                </div>
                <div class="action btn link" (click)="OpenUrl('/user/gift')">
                    积分兑换
                </div>
            </div>
        </div>
        <!-- 了解订阅计划 -->
        <!-- 邀请好友 你得积分，好友免费试用pro版 -->
        <!-- <div class="others ccenter">
            ad iframe
        </div> -->
    </div>
    <app-login></app-login>
</ng-template>