<app-tool-container [title]="'USER_CENTER.TITLE' | translate" (closeEvent)="close()">
    <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-tool-container>
<ng-template #windowBoxTemplate>
    <div class="window-box">
        <div class="user-info">
            <div class="avatar ccenter" (click)="onAvatarClick()">
                @if (currentUser?.avatar) {
                <img class="avatar-img" [src]="currentUser.avatar" [alt]="'USER_CENTER.AVATAR_ALT' | translate" />
                } @else {
                <i class="fa-thin fa-user"></i>
                }
            </div>
            <div class="text">
                <div class="username">
                    {{ displayNickname }}
                </div>
                <div class="plan">
                    {{ 'USER_CENTER.PLAN_LABEL' | translate: { plan: displayPlanName } }}
                    @if (displayPlanEndDate) {
                    <span class="plan-expires">({{ displayPlanEndDate }})</span>
                    }
                </div>
            </div>
            <div class="action">
                <div class="btn link" nz-tooltip [nzTooltipTitle]="'USER_CENTER.SETTINGS' | translate" (click)="onAvatarClick()">
                    <i class="fa-light fa-gear"></i>
                </div>
                <div class="btn link" nz-tooltip [nzTooltipTitle]="'USER_CENTER.LOGOUT' | translate" (click)="onLogout()">
                    <i class="fa-light fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
        <div class="user-data">
            <!-- 可用次数 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-star-christmas"></i>
                </div>
                <div class="content">
                    <span class="label">{{ 'USER_CENTER.AI_CALLS' | translate }}</span>
                    <span class="value">{{ aiAvailableValue }}</span>
                    @if(aiAvailableMeta) {
                    <span class="meta">{{ aiAvailableMeta }}</span>
                    }
                </div>
                @if (!isProPlanSubscriber || displayAiCallsResetDate) {
                <div class="action-stack">
                    @if (!isProPlanSubscriber) {
                    <div class="btn link" (click)="OpenUrl('/user/subscription')">
                    {{ 'USER_CENTER.ADD_AI_CALLS' | translate }}
                    </div>
                    }
                    @if (displayAiCallsResetDate) {
                    <div class="reset-date">{{ 'USER_CENTER.AI_CALLS_RESET_SHORT' | translate: { date: displayAiCallsResetDate } }}</div>
                    }
                </div>
                }
            </div>
            <!-- 云存储使用 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-album-collection fa-light"></i>
                </div>
                <div class="content">
                    <span class="label">{{ 'USER_CENTER.CLOUD_STORAGE' | translate }}</span>
                    <span class="value">{{ benefits?.cloud_storage?.unlimited ? '♾️' : (benefits?.cloud_storage?.used ?? 0) + '/' + (benefits?.cloud_storage?.total ?? 0) }}</span>
                </div>
                @if (!isProPlanSubscriber) {
                <div class="action btn link" (click)="OpenUrl('/user/subscription')">
                    {{ 'USER_CENTER.ADD_STORAGE' | translate }}
                </div>
                }
            </div>
            <!-- 物联网设备 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-chart-network"></i>
                </div>
                <div class="content">
                    <span class="label">{{ 'USER_CENTER.IOT_DEVICES' | translate }}</span>
                    <span class="value">{{ benefits?.iot_devices?.unlimited ? '♾️' : (benefits?.iot_devices?.used ?? 0) + '/' + (benefits?.iot_devices?.total ?? 0) }}</span>
                </div>
                @if (!isProPlanSubscriber) {
                <div class="action btn link" (click)="OpenUrl('/user/subscription')">
                    {{ 'USER_CENTER.ADD_DEVICES' | translate }}
                </div>
                }
            </div>
            <!-- 积分 -->
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-award"></i>
                </div>
                <div class="content">
                    <span class="label">{{ 'USER_CENTER.POINTS' | translate }}</span>
                    <span class="value">{{ benefits?.points ?? 0 }}</span>
                </div>
                <div class="action btn link" (click)="OpenUrl('/user/gift')">
                    {{ 'USER_CENTER.REDEEM_POINTS' | translate }}
                </div>
            </div>
        </div>
        <!-- 了解订阅计划 -->
        <!-- 邀请好友 你得积分，好友免费试用pro版 -->
        <!-- <div class="others ccenter">
            ad iframe
        </div> -->
    </div>
</ng-template>
