<div class="project-new-box">
  <div class="header">
    <div class="btn ccenter" (click)="back()" nz-tooltip [nzTooltipTitle]="'LIB_MANAGER.BACK' | translate">
      <i class="fa-regular fa-chevron-left"></i>
    </div>
    <nz-input-group [nzSuffix]="suffixIconSearch" [nzSize]="'small'">
      <input type="text" nz-input [placeholder]="'PROJECT_NEW.BOARD.SEARCH' | translate" [(ngModel)]="keyword"
        (ngModelChange)="search()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      @if(keyword.length > 0){
      <i class="fa-light fa-xmark" (click)="keyword='';search()"></i>
      } @else {
      <i class="fa-light fa-search"></i>
      }
    </ng-template>
    <!-- 查看模式：-->
    @if(currentStep == 0){
    <div class="tag-list">
      <nz-tag (click)="changeViewMode('brand')" [nzColor]="listMode === 'brand' ? '#108ee9' : null">{{
        'PROJECT_NEW.BOARD.BY_BRAND' | translate }}</nz-tag>
      <nz-tag (click)="changeViewMode('core')" [nzColor]="listMode === 'core' ? '#108ee9' : null">{{
        'PROJECT_NEW.BOARD.BY_CORE' | translate }}</nz-tag>
      <!-- <nz-tag (click)="listMode = 'function'">按功能</nz-tag> -->
    </div>
    }
    <!-- <nz-steps [nzCurrent]="currentStep" nzSize="small">
      <nz-step [nzTitle]="'PROJECT_NEW.STEPS.SELECT_BOARD' | translate"></nz-step>
      <nz-step [nzTitle]="'PROJECT_NEW.STEPS.BASIC_SETTINGS' | translate"></nz-step>
      <nz-step [nzTitle]="'PROJECT_NEW.STEPS.CREATE_PROJECT' | translate"
        [nzIcon]="currentStep == 2 ? iconTemplate : null"></nz-step>
    </nz-steps>
    <ng-template #iconTemplate><i class="fa-duotone fa-solid fa-spinner-third"></i></ng-template> -->
    <div class="btns">
      <button nz-button nzType="primary" nzGhost nzSize="small" style="margin-right: 10px;" (click)="help()">
        <i class="fa-light fa-question"></i>{{ 'PROJECT_NEW.BOARD.ADD_BOARD' | translate }}
      </button>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <div class="left-inner">
        @if (currentStep == 0) {
        <app-brand-list [mode]="listMode" (brandSelected)="onSelected($event)"></app-brand-list>
        } @else {
        <div class="steps-box ccenter">
          <nz-steps [nzCurrent]="currentStep" nzSize="small" [nzDirection]="'vertical'">
            <nz-step [nzTitle]="'PROJECT_NEW.STEPS.SELECT_BOARD' | translate"></nz-step>
            <nz-step [nzTitle]="'PROJECT_NEW.STEPS.BASIC_SETTINGS' | translate"></nz-step>
            <nz-step [nzTitle]="'PROJECT_NEW.STEPS.CREATE_PROJECT' | translate"
              [nzIcon]="currentStep == 2 ? iconTemplate : null"></nz-step>
          </nz-steps>
          <ng-template #iconTemplate><i class="fa-duotone fa-solid fa-spinner-third"></i></ng-template>
        </div>
        }
      </div>
    </div>
    <div class="right">
      @if (currentStep == 0) {
      <div class="right-inner flex-start">
        <div class="board-selector-box sscroll">
          <div class="board-selector">
            @for (board of boardList; track board.name) {
            <div class="board ccenter btn" [ngClass]="{ selected: currentBoard == board, disabled: board.disabled }"
              (click)="selectBoard(board)">
              <div class="img-box">
                <img [sequentialSrc]="resourceUrl+'/imgs/boards/'+board.img" />
              </div>
              <div class="name">{{ board._nickname }}
                @if(board.state){
                <span>({{board.state}})</span>
                }
              </div>
            </div>
            }
          </div>
        </div>
        @if(currentBoard){
        <div class="desc-box">
          <div class="img-box ccenter">
            <img [src]="resourceUrl+'/imgs/boards/'+currentBoard.img" />
          </div>
          <div class="content">
            <div class="title">
              <div class="title-text">{{currentBoard._nickname}}</div>
              @if(currentBoard.state=='alpha'){
              <span class="warn"><i class="fa-light fa-circle-exclamation"></i>{{ 'PROJECT_NEW.WARNINGS.BETA_VERSION' |
                translate }}</span>
              }
              @if(currentBoard.state=='todo'){
              <span class="warn"><i class="fa-light fa-circle-exclamation"></i>{{ 'PROJECT_NEW.WARNINGS.TODO' |
                translate }}</span>
              }
            </div>
            <div class="text sscroll">{{ currentBoard._description }}</div>
            <div class="next">
              @if(currentBoard.state!='todo'){
              <button nz-button nzType="primary" (click)="nextStep()">
                {{ 'PROJECT_NEW.BUTTONS.USE_THIS' | translate }}
              </button>
              }
              <!-- <button nz-button nzType="primary" (click)="nextStep()">
                创建项目
              </button>
              <button nz-button nzType="primary" (click)="nextStep()">
                AI创建项目
              </button> -->
              @if(hasExamples){
              <button nz-button nzType="primary" (click)="nextStepFromProjectHub()">
                {{ 'PROJECT_NEW.BUTTONS.USE_THIS_FROM_HUB' | translate }}
              </button>
              }
              <div class="links">
                @if(currentBoard.url){
                <div class="btn link ccenter" (click)="openUrl(currentBoard.url)">
                  {{ 'PROJECT_NEW.BOARD.READ_DOC' | translate }}
                </div>
                }
                <!-- <div class="btn link ccenter" (click)="openUrl(currentBoard.url)">
                  {{ '教程' | translate }}
                </div>
                <div class="btn link ccenter" (click)="openUrl(currentBoard.url)">
                  {{ '购买' | translate }}
                </div> -->
              </div>
            </div>
          </div>

        </div>
        }
      </div>
      } @else {
      <!-- 基本设定页面 -->
      <div class="right-inner">
        <div class="right-content">
          <!-- <div class="item">
            <div>{{ 'PROJECT_NEW.FORM.DEVMODE' | translate }}:</div>
            <nz-radio-group [(ngModel)]="newProjectData.devmode">
              @for(mode of devmodes;track mode ){
              @switch(mode){
              @case ('arduino') {
              <label nz-radio-button nzValue="arduino">Arduino</label>
              }
              @case ('micropython') {
              <label nz-radio-button nzValue="micropython">MicroPython</label>
              }
              @case ('freertos') {
              <label nz-radio-button nzValue="freertos">FreeRTOS</label>
              }
              }
              }
            </nz-radio-group>
          </div> -->
          <div class="item">
            <div>{{ 'PROJECT_NEW.FORM.BOARD' | translate }}:</div>
            <!-- @if(newProjectData.devmode=='arduino'){ -->
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input class="board" nz-input [(ngModel)]="newProjectData.board.name" [disabled]="true" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i class="fa-light fa-at"></i>
            </ng-template>
            <nz-select [(ngModel)]="newProjectData.board.version">
              @for (version of boardVersionList; track version) {
              <nz-option [nzValue]="version" [nzLabel]="version"></nz-option>
              }
            </nz-select>
            <!-- }@else if (newProjectData.devmode=='micropython') {
            <input class="board" nz-input [(ngModel)]="newProjectData.board.name" [disabled]="true" />
            } -->
          </div>
          @if (!isLoadingTemplates && myTemplateList.length > 0) {
          <div class="item template-row">
            <div>{{ 'PROJECT_NEW.FORM.TEMPLATE' | translate }}:</div>
            <div class="template-select-box">
              <nz-select [(ngModel)]="selectedTemplateName"
                [nzAllowClear]="true"
                [nzPlaceHolder]="'PROJECT_NEW.TEMPLATES.SELECT' | translate">
                <nz-option [nzValue]="''" [nzLabel]="'PROJECT_NEW.TEMPLATES.NONE' | translate"></nz-option>
                @for (template of myTemplateList; track template.name) {
                <nz-option [nzValue]="template.name" [nzLabel]="template.nickname || template.name" nzCustomContent>
                  <span [title]="template.description || ''" style="display: block; width: 100%;">{{ template.nickname || template.name }}</span>
                </nz-option>
                }
              </nz-select>
              @if (selectedTemplateDescription) {
              <div class="template-selected-description">{{ selectedTemplateDescription }}</div>
              }
            </div>
          </div>
          }
          <div class="item">
            <div>{{ 'PROJECT_NEW.FORM.PROJECT_NAME' | translate }}:</div>
            <input nz-input [(ngModel)]="newProjectData.name" (ngModelChange)="checkPathIsExist()" />
            @if(showIsExist){
            <div class="error animate__animated animate__faster animate__fadeInDown">{{ 'PROJECT_NEW.FORM.NAME_EXISTS' |
              translate }}</div>
            }
          </div>
          <div class="item">
            <div>{{ 'PROJECT_NEW.FORM.SAVE_PATH' | translate }}:</div>
            <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
              <input nz-input [(ngModel)]="newProjectData.path" [disabled]="true" />
            </nz-input-group>
            <ng-template #addOnAfterTemplate>
              <div class="btn ccenter ffull" (click)="selectFolder()">
                <i class="fa-light fa-folder"></i>
              </div>
            </ng-template>
            @if(showIsPathPassed){
            <div class="error animate__animated animate__faster animate__fadeInDown">{{ 'PROJECT_NEW.FORM.PATH_INVALID_CHARS' |
              translate }}</div>
            }
          </div>
          <div class="step-btns">
            <button nz-button nzType="default" (click)="currentStep = 0">
              {{ 'PROJECT_NEW.BUTTONS.PREV' | translate }}
            </button>
            @if (currentStep == 1) {
            <button nz-button nzType="primary" [disabled]="showIsExist || showIsPathPassed" (click)="createProject()">
              {{ 'PROJECT_NEW.BUTTONS.CREATE' | translate }}
            </button>
            }@else if (currentStep == 2) {
            <button nz-button nzType="default" nzLoading>
              {{ 'PROJECT_NEW.BUTTONS.CREATING' | translate }}
            </button>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>