<app-base-dialog
    [title]="'COMPATIBILITY_DIALOG.TITLE' | translate"
    [buttons]="buttons"
    (closeDialog)="cancel()"
    (buttonClick)="onButtonClick($event)">
    <div class="text">
        <div class="t1">
            <i class="fa-solid fa-triangle-exclamation"></i>
            {{ 'COMPATIBILITY_DIALOG.WARNING_MESSAGE' | translate }}
        </div>
        <div class="t2">
            <div class="t2-text">
                {{ 'COMPATIBILITY_DIALOG.SUPPORTED_CORES' | translate }}
            </div>
            <div>
                @for(tag of libCompatibility; track $index) {
                <nz-tag>{{tag}}</nz-tag>
                }
            </div>
        </div>
        <div class="t2">{{ 'COMPATIBILITY_DIALOG.CURRENT_BOARD_CORE' | translate }}<nz-tag nzColor="processing">{{boardCore}}</nz-tag></div>
    </div>
</app-base-dialog>
