<div class="aily-board-viewer" (dblclick)="logDetail()">
  <div class="board-card">
    <div class="img-box ccenter">
      <img [src]=" resourceUrl+'/imgs/boards/'+boardInfo?.img" />
    </div>
    <div class="text-box">
      <div class="title">{{boardInfo?.nickname}}</div>
      <div class="text ellipsis">{{boardInfo?.description}}</div>
    </div>
    <div class="action-btns ccenter">
      @if(boardInfo?.url){
      <div class="btn ccenter" (click)="viewBoardDetails()"><i class="fa-regular fa-book"></i></div>
      }
    </div>
  </div>
</div>