<div class="blockly-coding">
  <div class="action">
    <span class="type">blockly</span>
    <nz-icon
      nzType="retweet"
      nzTheme="outline"
      (click)="toggleType()"
    ></nz-icon>
    <nz-icon nzType="import" nzTheme="outline"></nz-icon>
    <nz-icon nzType="copy" nzTheme="outline"></nz-icon>
  </div>
  <div class="content">
    <div class="coding" *ngIf="type === 0">
      {{ JSON.stringify(data, null, 2) }}
    </div>
    <div class="coding" *ngIf="type === 1">
      <app-aily-blockly [data]="data"></app-aily-blockly>
    </div>
  </div>
</div>
