:host {
}

.blockly-coding {
  padding: 0 10px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding: 3px 0;

  .type {
    flex: 1;
  }
}

.coding {
  word-break: break-all;
  white-space: break-spaces;
  padding: 10px 0;
}
