.sub-window-box {
  border-radius: 5px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  height: 38px;
  border-bottom: 2px solid var(--aily-border-primary);
  background: var(--aily-bg-primary);

  &.darwin {
    padding-left: 80px;

    &.full-screen {
      padding-left: 0;
    }

    .win-btns {
      > div {
        display: none;
      }

      .header-btns {
        display: flex;
      }

      .go-main {
        display: flex;
      }
    }
  }
}

.title {
  height: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-grow: 1;
  min-width: 0;
  -webkit-app-region: drag;
}

.title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.win-btns {
  display: flex;
  align-items: center;
  font-size: 15px;

  .header-btns {
    display: flex;
    align-items: center;
  }

  .btn {
    font-size: 16px;
    width: 33px;
    height: 33px;
    margin-right: 0;

    &:hover {
      background: var(--aily-bg-tertiary);
    }
  }

  .minimize {
    font-size: 18px;
  }

  .go-main{
    // border-right: 1px solid #333;
    margin-right: 10px;
    font-size: 17px;
    background: transparent !important;
    &:hover {
      color: var(--aily-color-link-hover);
    }
  }

  .close {
    font-size: 19px;

    &:hover {
      color: var(--aily-color-error);
    }
  }
}

.content{
  height: calc(100vh - 38px);
  background: var(--aily-bg-secondary);
}
