<div class="prompt-box bborder">
  <div class="header">
    <div class="title">{{ title }}</div>
    <div class="win-btns">
      <div class="btn ccenter close" (click)="onClose()">
        <i class="fa-light fa-xmark"></i>
      </div>
    </div>
  </div>
  <div class="content">
    <!-- Wrap the image or canvas element with a block element (container) -->
    <div class="image-container">
      <img #cropperImage>
    </div>

    <!-- 操作提示 -->
    <div class="operation-tips" *ngIf="imageUrl">
      <div class="tip-item">
        <i class="fa-light fa-up-down-left-right"></i>
        拖拽移动图片位置
      </div>
      <div class="tip-item">
        <i class="fa-light fa-magnifying-glass-plus"></i>
        滚轮缩放图片大小
      </div>
    </div>

    <div class="footer">
      <button nz-button [nzSize]="'small'" nzType="default" (click)="onClose()">取消</button>
      @if(imageUrl){
      <input #reSelectInput type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
      <button nz-button [nzSize]="'small'" nzType="default" (click)="reSelectInput.click()">重选图片</button>
      } <button nz-button [nzSize]="'small'" nzType="primary" [disabled]="!imageUrl" (click)="onConfirm()">确定</button>
    </div>
  </div>
</div>