.project-manager{
    position: fixed;
    left: 180px;
    top: 0;
    width: calc(100% - 180px);
    height: 100%;
    background: #ccc;
}

.item{
    display: flex;
    align-items: center;
}

.lib-list{
    display: flex;
    flex-wrap: wrap;
    .lib{
        width: 300px;
        height: 180px;
        margin: 6px;
        padding: 6px;
        background: #FFF;
    }
}