<div class="project-manager">
    <div class="item">
        <div class="name">项目名称</div>
        <div><input nz-input placeholder="project name" [(ngModel)]="value" /></div>
    </div>
    <div class="item">
        <div class="name">开发平台</div>
        <div><input nz-input placeholder="Arduino uno r4 wifi" [(ngModel)]="value" /></div>
    </div>
    <div class="lib-manager">
        <div class="item">
            <div class="name">库管理</div>
            <div><input nz-input placeholder="Arduino uno r4 wifi" [(ngModel)]="value" /></div>
        </div>
        <div>
            <div class="tags">
                @for (color of presetColors; track color) {
                <nz-tag [nzColor]="color">{{ color }}</nz-tag>
                }
            </div>
        </div>
        <div class="lib-list">
            @for (color of presetColors; track color) {
            <div class="lib">
                <div>
                    <div>U8G2点阵屏幕驱动</div>
                    <div>olikraus</div>
                </div>
                <div>
                    U8G2是Arduino上的图形显示库，支持I2C和SPI协议，兼容多种OLED和LCD显示器，提供丰富的绘图功能，包括文本、形状和位图，非常适合于单色和灰度屏幕的开发者使用。
                </div>
                <div>
                    <!-- <nz-select>
                        <nz-option nzValue="1.0.1" nzLabel="1.0.1"></nz-option>
                        <nz-option nzValue="0.0.1" nzLabel="0.0.1"></nz-option>
                    </nz-select> -->
                    <div>
                        <button nz-button nzType="primary" nzSize="small">安装</button>
                        <button nz-button nzType="primary" nzDanger nzSize="small">移除</button>
                    </div>
                </div>
            </div>
            }
        </div>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
    </div>
</div>