.settings {
    background: var(--aily-bg-elevated);
    margin: -17px 10px 10px 10px;
    padding-top: 7px;
    border-radius: 5px;

    .line {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
    }
}

.item {
    display: flex;
    align-items: center;
    color: var(--aily-text-primary);
    position: relative;
    height: 40px;
    font-size: 12px;

    .title {
        padding: 0 10px;
        flex-shrink: 0;
    }

    .item-inner {
        height: 24px;
        width: 90px;
        background-color: var(--aily-bg-tertiary);
        border-radius: 2px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        color: var(--aily-text-primary);
        font-size: 14px;
        cursor: pointer;

        &.selected {
            .arrow {
                transform: rotate(90deg);
            }
        }

        .btn {
            width: 20px;
            height: 24px;
            position: absolute;
            right: 0;
            color: var(--aily-color-link);

            &:nth-child(2) {
                right: 20px;
            }

            &:hover {
                color: var(--aily-color-link-hover);
            }
        }

        .value {
            pointer-events: none;
        }

        .arrow-box {
            pointer-events: none;
            position: absolute;
            right: 8px;

            .arrow {
                transition: transform 0.3s;
            }
        }
    }
}
