<div class="aily-chat" ngxDrag ngxResize [ngxResizeMinWidth]="280">
  <div class="header" ngxDragHandle>aily chat</div>
  <div class="handle TopLeft" [ngxResizeHandle]="handleType.TopLeft"></div>
  <div class="handle Top" [ngxResizeHandle]="handleType.Top"></div>
  <div class="handle TopRight" [ngxResizeHandle]="handleType.TopRight"></div>
  <div class="handle Right" [ngxResizeHandle]="handleType.Right"></div>
  <div
    class="handle BottomRight"
    [ngxResizeHandle]="handleType.BottomRight"
  ></div>
  <div class="handle Bottom" [ngxResizeHandle]="handleType.Bottom"></div>
  <div
    class="handle BottomLeft"
    [ngxResizeHandle]="handleType.BottomLeft"
  ></div>
  <div class="handle Left" [ngxResizeHandle]="handleType.Left"></div>
  <div class="content">
    <app-aily-blockly
      [data]="{
        kind: 'flyoutToolbox',
        contents: [
          {
            kind: 'block',
            type: 'controls_if',
          },
          {
            kind: 'block',
            type: 'controls_whileUntil',
          },
        ],
      }"
    ></app-aily-blockly>
    <br />
    <br />
    <app-aily-blockly
      [data]="{
        kind: 'flyoutToolbox',
        contents: [
          {
            kind: 'block',
            type: 'controls_if',
          },
        ],
      }"
    ></app-aily-blockly>
    <br />
    <app-aily-blockly
      [data]="{
        kind: 'flyoutToolbox',
        contents: [
          {
            kind: 'block',
            type: 'controls_whileUntil',
          },
        ],
      }"
    ></app-aily-blockly>
  </div>
</div>
