.aily-error-viewer {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #3a3a3a;
    color: #ccc;
    overflow: hidden;
    display: flex;
}

.state-text {
    a.link {
        text-decoration: none;
        margin: 0 3px;

        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.state-icon {
    flex-shrink: 0;
    font-size: 14px;
    margin-right: 5px;

    .lloading {
        color: #1890ff;
    }

    .done {
        color: #52c41a;
    }

    .error {
        color: #ff4d4f;
    }

    .warn {
        color: #faad14;
    }

    .info {
        color: #1890ff;
    }
}