<div class="aily-error-viewer">
    <div class="state-content ccenter">
        @switch (status) {
        @case(0){
        <div class="state-icon">
            <div class="icon ccenter error">
                <i class="fa-light fa-circle-xmark"></i>
            </div>
        </div>
        <div class="state-text">
            网络连接失败，请检查您的网络连接后重试
        </div>
        }
        @case (408) {
        <div class="state-icon">
            <div class="icon ccenter error">
                <i class="fa-light fa-circle-xmark"></i>
            </div>
        </div>
        <div class="state-text">
            连接超时，服务器可能暂时不可用，请稍后重试
        </div>
        }
        @case (422) {
        <div class="state-icon">
            <div class="icon ccenter warn">
                <i class="fa-light fa-key"></i>
            </div>
        </div>
        <div class="state-text">
            需要先
            <button nz-button nzType="primary" nzSize="small" (click)="login()">登录</button>
            才能使用相关功能
        </div>
        }
        @default {
        <div class="state-icon">
            <div class="icon ccenter error">
                <i class="fa-light fa-circle-xmark"></i>
            </div>
        </div>
        <div class="state-text">
            {{message}}
        </div>
        }
        }
    </div>
</div>