/* You can add global styles to this file, and also import other style files */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    // background: linear-gradient(135deg, #f5e6ff 0%, #e0c3fc 100%);
    overflow: hidden;
    font-family: 'MiSans Regular', sans-serif;
}


.ccenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'MiSans Regular';
    src: url('/fonts/MiSans-Regular.woff2') format('woff2');
    font-display: swap;
}


// nz-option-container {
//     height: 28px;

//     cdk-virtual-scroll-viewport {
//         height: 28px;

//         nz-option-item {
//             height: 28px;
//         }
//     }
// }