body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "MiSans Regular", sans-serif;
}

.ccenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "MiSans Regular";
  src: url("/fonts/MiSans-Regular.woff2") format("woff2");
  font-display: swap;
}

.btn{
  cursor: pointer;
}

.llight {
  background-color: black;
}

.ddark {
  $bbackground: #2b2d30;
  $lline: #222427;
}