<div class="lib-manager-box">
    <div class="header">
        <div class="btn ccenter" (click)="back()" nz-tooltip [nzTooltipTitle]="'LIB_MANAGER.BACK' | translate">
            <i class="fa-regular fa-chevron-left"></i>
        </div>
        <div class="lib-selector ccenter" [ngStyle]="{'color': currentLib ? '#fff' : '#666'}" (click)="openLibList()">
            @if(!currentLib) {
            选择要编辑的库
            }@else {
            {{currentLib?.name}}
            }
            <div class="down ccenter"><i class="fa-regular fa-angle-down"></i></div>
        </div>
        <!-- <div>
            <input type="text" placeholder="包名" />
        </div>
        <div>
            <input type="text" placeholder="版本号" />
        </div> -->
    </div>
    <div class="content">
        <app-lib-content [path]="currentLib?.path"></app-lib-content>
    </div>
</div>

<!-- lib list -->
@if (showLibList) {
<app-menu class="libs" [position]="{x:40,y:81}" [width]="200" [menuList]="libList" (closeEvent)="closeLibList()"
    (itemClickEvent)="selectLib($event)"></app-menu>
}