<div class="menu-box bborder" #menuBox
  [ngStyle]="{ left: position.x + 'px', top: position.y + 'px' ,'width': width + 'px'}">
  @for (item of menuList; track $index) {
  @if (item.sep) {
  <div class="sep"></div>
  } @else {
  <div class="menu-item ccenter" (click)="itemClick(item)" [ngClass]="{'highlight': isHighlight(item.text)}">
    <div class="icon ccenter"><i class="{{ item.icon }}"></i></div>
    <div class="name">{{ item.name }}</div>
    <div class="text ellipsis">{{ item.text }}</div>
  </div>
  }
  }
</div>