.content-box {
    height: calc(100vh - 150px);
    padding: 15px;
}

.example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;

    .example-item {
        width: 280px;
        height: 280px;
        background: var(--aily-bg-elevated);
        border-radius: 5px;
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background: var(--aily-bg-tertiary);
        }

        .img-box {
            border-radius: 5px;
            position: relative;
            width: 260px;
            height: 130px;
            overflow: hidden;

            img {
                width: 260px;
                height: 130px;
            }

            .collection {
                position: absolute;
                bottom: 5px;
                right: 5px;
                background: var(--aily-surface-scrim);
                color: var(--aily-text-primary);
                padding: 2px 6px;
                border-radius: 3px;
                font-size: 12px;
            }
        }

        .name {
            font-size: 16px;
            font-weight: 600;
            color: var(--aily-text-primary);
            margin: 7px 0 7px 0;
        }

        .text {
            font-size: 14px;
            color: var(--aily-text-quaternary);
            height: 62px;
            white-space: normal;
            overflow: hidden;
            line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            font-size: 12px;
            color: var(--aily-text-tertiary);

            .author {
                display: flex;
                align-items: center;
                color: var(--aily-color-link);
            }

            .state {
                display: flex;

                >div {
                    width: 60px;
                }

                i {
                    font-size: 16px;
                    color: var(--aily-text-tertiary);
                }
            }
        }
    }
}

.pagination {
    padding: 3px;
    width: 100%;
    text-align: center;
}