.window-box {
  position: relative;
  display: flex;
  height: 100%;
}

.left-bar {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-right: 1px solid #444;

  .btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #aaa;

    &:hover {
      color: #fff;
    }

    &.selected {
      color: #fff;
    }
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings {
  background: #292929;
  margin: 10px;
  border-radius: 5px;

  .line {
    display: flex;
    align-items: center;
    position: relative;
  }

  .item {
    display: flex;
    align-items: center;
    color: #eee;
    position: relative;
    height: 40px;
    font-size: 12px;

    .title {
      min-width: 56px;
      padding: 0 10px;
      flex-shrink: 0;
    }

    .item-inner {
      height: 24px;
      width: 90px;
      background-color: #333;
      border-radius: 2px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
      color: #eee;
      font-size: 14px;

      .btn {
        width: 20px;
        height: 24px;
        position: absolute;
        right: 0;
        color: rgb(0, 96, 160);

        &:nth-child(2) {
          right: 20px;
        }

        &:hover {
          color: rgb(0, 140, 233);
        }
      }

      .value {
        pointer-events: none;
      }

      .arrow-box {
        pointer-events: none;
        position: absolute;
        right: 8px;

        .arrow {
          transition: transform 0.3s;

          &.down {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .switch {
    margin-left: 10px;
    // position: absolute;
    // right: 0;
  }

  .setting-btn {
    position: absolute;
    right: 0;
    font-size: 18px;
    width: 38px;
    height: 38px;
    padding-top: 2px;

    &:hover {
      color: #fff;
    }
  }

  .more {
    width: 36px;
    height: 28px;
    font-size: 20px;
    color: #eee;
    cursor: pointer;
    justify-content: flex-end;
    position: absolute;
    right: 10px;

    &:hover {
      color: #fff;
    }
  }
}

.monitor {
  position: relative;
  flex: 1;
  min-height: 0;

  .r-box {
    height: calc(100% - 38px);
    background: #292929;
    border-radius: 5px;
    margin: 0 10px;
    position: relative;

    ngx-simplebar {
      ::ng-deep {
        .simplebar-content-wrapper {
          height: 100%;
          padding: 10px;
        }
      }
    }
  }

}

.btns {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  height: 28px;
  padding: 0 10px;

  .right {
    position: absolute;
    right: 10px;
  }

  .right2 {
    position: absolute;
    right: 42px;
  }

  .right3 {
    position: absolute;
    right: 74px;
  }

  button {
    height: 28px;
    line-height: 16px;
    border-radius: 5px;
  }

  .btn {
    width: 28px;
    height: 28px;
    font-size: 14px;
    color: #eee;
    margin-right: 3px;
    padding-top: 1px;

    &:hover {
      color: #fff;
    }

    &.actived {
      background: rgba(40, 100, 250, 0.8);
      border-radius: 5px;
    }

    i.actived {
      color: #4f77dd;
    }
  }
}

.sender {
  position: relative;
  flex-shrink: 0;

  .s-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    .item-setting {
      height: 24px;
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .input-box {
      padding: 0 10px;
      height: calc(100% - 98px);
      position: relative;

      textarea {
        background: #292929;
        border-radius: 5px;
        border: none;
        resize: none;
        height: 100%;
      }

    }

  }
}

.hex {
  .fa-rectangle {
    font-size: 24px;
  }

  >div {
    position: absolute;
    font-size: 10px;
  }
}

nz-resize-handle {
  .line {
    margin-top: 5px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
  }
}

ngx-simplebar {
  height: 100%;
  width: 100%;

  ::ng-deep {
    // .simplebar-content-wrapper {
    //   height: 100%;
    //   padding: 10px;
    // }

    .simplebar-content {
      height: 100%;
    }
  }
}