<app-tool-container [title]="'串口监视器'" (closeEvent)="close()">
  <div class="window-box">
    <div class="settings">
      <div class="line">
        <div class="item">
          <div class="text">串口</div>
          <div class="port ccenter">
            <div>COM9</div>
            <div class="btn ccenter" (click)="openPortList()">
              <i class="fa-light fa-plug"></i>
            </div>
            <div class="btn ccenter">
              <i class="fa-brands fa-bluetooth"></i>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="text">波特率</div>
          <nz-select [(ngModel)]="baudRate" [nzSize]="'small'">
            <nz-option nzValue="115200" nzLabel="115200"></nz-option>
          </nz-select>
        </div>
        <div class="more ccenter" (click)="openMore()">
          <i class="fa-light fa-circle-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="monitor">
      <div class="r-box"></div>
      <div class="btns">
        <div class="btn ccenter" nz-tooltip nzTooltipTitle="自动滚动">
          <i class="fa-light fa-arrow-down-to-line"></i>
        </div>
        <div class="btn ccenter" nz-tooltip nzTooltipTitle="自动换行">
          <i class="fa-light fa-arrow-turn-down-left"></i>
        </div>
        <div class="btn ccenter" nz-tooltip nzTooltipTitle="时间戳">
          <i class="fa-light fa-timer"></i>
        </div>
        <div class="btn ccenter" nz-tooltip nzTooltipTitle="HEX显示">
          <i class="fa-light fa-rectangle-terminal"></i>
        </div>
        <div class="btn ccenter" nz-tooltip nzTooltipTitle="异常捕获">
          <i class="fa-light fa-spider-web"></i>
        </div>
        <div class="btn ccenter right2" nz-tooltip nzTooltipTitle="导出数据">
          <i class="fa-light fa-download"></i>
        </div>
        <div class="btn ccenter right" nz-tooltip nzTooltipTitle="清除屏幕">
          <i class="fa-light fa-trash-can"></i>
        </div>
      </div>
    </div>
    <div class="sender">
      <div class="s-box">
        <textarea
          nz-input
          placeholder="Controlled autosize"
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"
        ></textarea>
        <div class="btn ccenter">
          <i class="fa-light fa-paper-plane"></i>
        </div>
      </div>
      <div class="btns">
        <div class="btn ccenter" nz-tooltip nzTooltipTitle="HEX显示">
          <i class="fa-light fa-rectangle-terminal"></i>
        </div>
        <div class="btn ccenter right" nz-tooltip nzTooltipTitle="发送文件">
          <i class="fa-light fa-file"></i>
        </div>
      </div>
    </div>
  </div>
</app-tool-container>
